[2019-07-24 11:16] thangngoc89 opened #1 "Mention about bs-platform 6.x requirement in README"

[2019-07-24 12:06] zth commented on #1
Hey!

There's actually a mention already in the README,
"Requires BuckleScript 6 (currently in beta), Relay == 5.0.0 and React >= 16.8.1"

...but I should probably make it much more prominent. Thanks!

[2019-07-26 10:02] zth commented on #1
Resolved in 74dec89ef44b4582c728ac563b80538f34a2ad42.

[2019-07-26 10:02] #1 closed

[2019-07-29 17:27] zth opened #3 "Proper location error reporting for PPX"
I never managed to get proper location based error reporting working in the PPX, so I opted for `Obj.magic()`. I don't know how to solve this currently, but if someone more experienced with OCaml/Reason knows how to fix this and wants to contribute, that'd be awesome!

Problem is located here:
https://github.com/zth/reason-relay/blob/d2a7f4f8524d8af92fb00db11cd17089916db8f5/packages/reason-relay/p

[2019-07-29 17:40] zth opened #4 "Build PPX for all platforms"
Currently, the distributed PPX only works on Linux, which is... sub optimal. We need to build the PPX for all platforms. Look into using Azure Pipelines as demonstrated by https://github.com/esy-ocaml/hello-reason.

[2019-08-05 18:08] zth commented on #4
I've added a temporary workaround of committing prebuilt binaries for OS X... Not great but at least there'll be support until this is resolved in a better way.

[2019-09-03 04:41] zth opened #5 "@include/@skip directives are not generating optional types"
This is a bug which the Flow/TS language plugins handle but ReasonRelay does not currently.

[2019-09-29 06:41] zth commented on #4
This is closed in (yet unmerged) commit https://github.com/zth/reason-relay/commit/654b7994b52c41d8618d177b170cd8b6d82c92a7 but I really need to move all of the building to Azure in order for this to make better sense. I'll open a new issue for that.

[2019-09-29 06:41] #4 closed

[2019-09-29 06:42] zth opened #6 "Add regression/normal tests for the language plugin"
We need regression tests for the language plugin at a minimum, but it'd also be nice to have a better setup for doing test driven development here, as the language plugin is well suited for that.

[2019-09-29 11:47] zth commented on #3
Closed in https://github.com/zth/reason-relay/commit/a015726253459ce19e1021554516081efe09dede

Turns out the problem was I had `%` in the error message, which needed to be escaped by turning it into `%%`.

[2019-09-29 11:47] #3 closed

[2019-09-29 17:32] zth opened #7 "[PPX] Generate module signature with PPX"
Currenty, we don't generate a module signature for each extension node with the PPX, which means a lot of internal/irrelevant stuff ends up accessible/in autocomplete etc from the PPXed extension nodes. This is potentially confusing, so we should limit what we expose by generating that as well with the PPX.

[2019-10-06 18:37] zth commented on #6
Fixed in https://github.com/zth/reason-relay/commit/d9d08fa580a46f88f6efbe234e16ab6f16f760a4.

[2019-10-06 18:37] #6 closed

[2019-10-06 18:37] zth commented on #5
Fixed in https://github.com/zth/reason-relay/commit/d9d08fa580a46f88f6efbe234e16ab6f16f760a4.

[2019-10-06 18:37] #5 closed

[2019-10-23 06:30] zth opened #8 "[PPX] Validate reserved field names"
Since Reason has a bunch of reserved words, there's a bunch of words that you simply cannot use for field names when querying your GraphQL API through ReasonRelay. The solution is quite simply to alias the fields to something appropriate. Things that need to be dealt with:

- [ ] Any of the reserved words like `type` etc
- [ ] Anything that is capitalized (`User`)

Note that this is only for the f

[2019-10-24 18:21] zth opened #10 "[PPX] Automatically add scope hints to records returned from pagination hooks"
Currently, destructuring a record coming from a hook generated by the PPX needs to be provided a scope hint in order for it to work. Example:

`let ReasonRelay.{data, hasNext, loadNext} = SomePaginationFragment.usePagination(fragmentRef);`

Ideally, the PPX should inject `ReasonRelay.` to any pagination hook call, enabling the call to look like this instead:

`let {data, hasNext, loadNext} = SomeP

[2019-10-30 08:05] zth opened #11 "[RFC] Improving DX of Js.Nullable.t"
As outlined in https://reason-relay-documentation.zth.now.sh/docs/quirks-of-reason-relay#nullability, we for various reasons need to model all nullable fields as `Js.Nullable.t`. This means that you'll end up switching a lot, and also doing `someValue |> Js.Nullable.toOption`, which isn't a great DX. I thought those interested could discuss possible improvments to the nullability situation here.

[2019-11-04 11:08] arnarthor commented on #11
I'm wondering if the approach that https://github.com/mhallin/graphql_ppx takes with `@bsDecoder` would work here.

That way people could use `@bsDecoder(fn: "Js.Nullable.fromOption")` to instantly convert it to an optional instead.

I'm a bit skeptical on adding a separate PPX to deal with this since it can add a bit to the compile times.

[2019-11-06 07:43] zth opened #12 "[Tooling] Integrate ReasonRelay with VSCode GraphQL extension vscode-apollo"
A while back I got started on integrating ReasonRelay (and `graphql_ppx` for that matter) support to `vscode-apollo`, which is an excellent VSCode extension for getting syntax highlighting and auto completion for GraphQL. `vscode-apollo` can also be used with `vscode-apollo-relay` https://github.com/relay-tools/vscode-apollo-relay which is awesome and gives a really good experience working with Re

[2019-11-08 07:33] zth commented on #8
Implemented in https://github.com/zth/reason-relay/commit/5c928f39f9c4fcee6e7458676423602c1e1b164b

[2019-11-08 07:33] #8 closed

[2019-11-23 20:16] zth commented on #12
I believe this is now fixed and just waiting for a merge. I'll keep this open until merged though.

[2019-12-17 07:57] zth commented on #12
https://github.com/apollographql/apollo-tooling/commit/f4047589f0eb555bbd4119d655e783c5999da647 fixed here, just waiting for a release.

[2019-12-17 07:57] #12 closed

[2019-12-27 08:13] zth commented on #7
I'll close this since I don't think it's that important anymore.

[2019-12-27 08:13] #7 closed

[2020-01-08 17:40] zth commented on #11
Solved in https://github.com/zth/reason-relay/commit/ae60b190d2804f2d87f798251f232a7818ce48ec , we now automatically convert nullables :tada:

[2020-01-08 17:40] #11 closed

[2020-01-13 16:19] idkjs opened #16 "Docs Demo"
Is the code from the Docs example in a repo somewhere that can be referenced?

I am referring to code like that found here: https://reason-relay-documentation.zth.now.sh/docs/making-queries#making-queries

[code]

Thank you.

[2020-01-17 12:02] believer opened #17 "Missing utils.js"
I'm seeing an issue that `utils.js` is missing. The require statement looks for `./utils` which doesn't exist in the compiled output in `/lib/js/src`. If I copy the `utils` file from `/src` everything starts working perfectly.

[2020-01-19 07:14] zth commented on #17
Oops! Thanks, I'll fix it ASAP!

[2020-01-19 13:08] zth commented on #16
Hey! No, unfortunately not. Most of the code in the docs is to illustrate specific points, but there's similar code for each concept in the example repo if that helps?

[2020-01-19 14:25] #16 closed

[2020-01-20 07:04] believer commented on #17
Awesome, thanks! :smile:

[2020-01-21 18:30] zth commented on #17
Fixed in `0.5.2`.

[2020-01-23 09:47] believer commented on #17
@zth I'm still not seeing the `utils.js` in the compiled `lib/es6/src` with `0.5.2`? 🤔

[2020-01-23 11:23] zth commented on #17
:thinking: @believer could you by any chance give me a way to reproduce?

[2020-01-23 11:40] believer commented on #17
You should be able to see it in my [soundtrackdb](https://github.com/believer/soundtrackdb/packages/web)!

After installing (`yarn`):

- BuckleScript compiler (`yarn build`) - all good ✅
- Relay compiler (`yarn relay`) - all good ✅
- Webpack (webpack-dev-server) (`yarn server`) - Error ⛔️

[code]

Confirmed that I'm running `0.5.2` and have tried removing both `node_modules` and `yarn.lock` withou

[2020-01-23 11:42] zth commented on #17
@believer thanks a lot, that's great!

[2020-01-23 12:07] zth commented on #17
@believer quick question - is there a reason you've turned off `"in-source": true` in `bsconfig.json`? Could you try with that enabled and see if it works? In case you don't remember, it's configured in `package-specs`, right next to `"module": "es6"`.

[2020-01-23 12:54] believer commented on #17
@zth yeah, I like to separate the built code from the Reason-files. I think the `src` feels cluttered when using `"in-source": true`. I usually don't need to look at the built files, so feels better to keep them "out of sight".

Regarding the issue, using `"in-source": true` seems to work fine since the code gets compiled to the `src` folder of `reason-relay`!

[2020-01-23 13:26] zth commented on #17
Great, then we at least know what the problem is. I'll think about how I could support `in-source` too, and get back to you.

[2020-01-23 15:14] believer commented on #17
Sweet! I'll keeping using `in-source` for now 😄

[2020-02-25 00:28] rickyvetter opened #19 "Use open poly variant to cover the FUTURE case"
Right now the SchemaAsset generated file uses a marker to signify that additional values could be added to the schema later so it is unsafe to exhaustively match. Could we instead use an open poly variant like so:

[code]

[2020-03-06 20:42] rickyvetter commented on #19
Yeah - exactly. I am hoping that with the poly variant + some PR like https://github.com/BuckleScript/bucklescript/pull/3801 but for poly variant would allow for a 0 runtime version of SchemaAsset. This would mean you'd have the very large Reason file, but JS byte size would be unaffected.

[2020-03-08 16:35] zth commented on #19
@rickyvetter I'm intrigued! And I agree that would be the best thing to do. However, I'd like to wait until that actually lands in BuckleScript before I change anything. Do you have any insight on ongoing work for that particular feature?

At that point `SchemaAssets.re` could also be removed (although I plan on putting a few other things in there, so it might not after all), which would be nice.

[2020-03-26 09:13] mulholio opened #22 "Uncaught ReferenceError: global is not defined"
When following the [Getting Started docs](https://reason-relay-documentation.zth.now.sh/docs/getting-started) to add Reason Relay to my project, I get the following error in my console with no components being rendered to the page:

![image](https://user-images.githubusercontent.com/20966690/77628830-7e8d4900-6f40-11ea-86ce-06c67f4e9586.png)

I am starting off of the `bsb -init my-react-app -theme

[2020-03-26 09:57] zth commented on #22
Interesting! Haven't seen that before. Could you try and remove the `^` from the versions of `react` and `react-dom` and see if it makes a difference?

[2020-03-26 18:45] mulholio commented on #22
No luck unfortunately. I tried `rm -rf node_modules` and reinstalling but nothing there either.

[2020-03-26 19:10] zth commented on #22
@mulholio intriguing! Grabbing for straws here, but could you try changing the versions for React/ReactDOM to `0.0.0-experimental-f6b8d31a7` exactly and see if that changes anything?

[2020-03-26 19:46] zth commented on #22
Oh you know what, maybe this is due to the fact you're using `moduleserve` and not a bundler. Could you try bundling with webpack or similar and see if that works?

[2020-03-26 20:18] mulholio commented on #22
Doesn't fix anything, unfortunately. Will try refactoring to use webpack

[2020-03-26 20:39] mulholio commented on #22
Refactor to webpack fixed it! Thanks for your help!

[2020-03-26 20:39] #22 closed

[2020-03-28 09:31] #10 closed

[2020-03-30 14:00] jfrolich opened #26 "Integrate with GraphQL ppx"
With 1.0 on the way and several improvements in the GraphQL ppx, I think it will be feasible to support Relay. This slightly changes the implementation. With GraphQL ppx we can generate javascript that will look the same as if you'd write Relay by hand in Javascript including tagged template literals etc.

Basically where GraphQL ppx can come in is generating types from the schema (this is generic

[2020-03-30 18:05] zth commented on #26
I'm intrigued by the idea and I hope we can at least integrate this in some capacity. Here's a list of edge cases I can think of that `graphql_ppx` would need to support in order to fully support what ReasonRelay supports now:

## Relay adds custom directives, and some of those directives affect how types should be generated
I think this is mainly about: `@inline`, `@relay(mask: false)` and `@rela

[2020-03-31 01:56] jfrolich commented on #26
This would generally need to map the default behavior for other clients (as inlining is the only way to do fragments)

Hmm interesting. Is it just to enforce that a fragment can only be used in an array context? Why is that?

As far as what the users sees, that should be consistent with the query. If there are certain behaviors we should indeed implement them (but they should be documented because

[2020-04-04 01:57] sync opened #28 "Reason-Relay seems incompatible with latest graphql package 15.0.0"
error:

[code]

[2020-04-04 02:03] sync commented on #28
You can see issue here:
https://github.com/sync/pollen-tracker

and revert commit:
09611f4e Downgrade graphql version it seems to be having issue with reason relay

[2020-04-04 04:51] zth commented on #28
Thanks for the report! The next release will fix that, will get it out today or tomorrow 👍

[2020-04-04 07:04] sync commented on #28
Thanks and no rush 🤗

[2020-04-04 09:41] zth commented on #28
`0.7.0` should fix this, please re-open this if it doesn't.

[2020-04-04 09:41] #28 closed

[2020-04-08 06:13] sgrove opened #29 "Case-sensitive filename cause errors with operation name"
Given I have a file `tempTest.re` (notice the lowercase prefix) with this operation:

[code]

Because of the capitalization mismatch, I'll get this error from the reason-relay compiler:
[code]

If I then change the operation name to make the reason-relay compiler happy, then bucklescript will give me this error:
[code]

[2020-04-09 10:00] zth commented on #29
I hope this is fixed in https://github.com/zth/reason-relay/commit/212965b101bbd9130a8c861096086702ecc52da0 , I'll let you know when there's a testable new release.

[2020-04-09 20:17] zth commented on #29
@sgrove this should be fixed in the latest version. Can you confirm?

[2020-04-12 21:10] sgrove commented on #29
Looks like it works, thank you!

[2020-04-12 21:10] #29 closed

[2020-04-13 15:32] zth commented on #17
I'm going to close this for now as there's a few other things that won't work without `in-source` right now. I can hopefully revisit this at a later point.

[2020-04-13 15:32] #17 closed

[2020-04-15 18:46] zth opened #32 "Test"
Testing

[2020-04-17 08:34] Arnarkari93 opened #33 "Document local development"
It would be really nice to have a section in the readme that documents local development.

[2020-04-17 09:03] zth commented on #33
Yes, that's a great idea! It's not terribly straight forward now, right ;) I'm putting this on my todo and will try and get it done as soon as I can.

[2020-04-17 09:16] Arnarkari93 commented on #33
Thank you! 🎉

[2020-04-19 10:12] zth commented on #33
@Arnarkari93 I started doing this in https://github.com/zth/reason-relay/blob/master/LOCAL_DEVELOPMENT.md <- could you check that out and let me know what you're missing?

[2020-04-19 12:35] Arnarkari93 commented on #33
Good job, I think this documentation answers everything I was looking for. I was many confused about how the PPX was built for release. Thanks again.

[2020-04-19 13:42] zth commented on #33
Great! Ideally that'll be done in a much better way with GitHub Action or similar soon. But until then, you know! ;)

[2020-04-19 13:42] #33 closed

[2020-04-21 15:07] Arnarkari93 opened #34 "Why is `getFragmentRefs()` a function"
I am working on integrating `reason-relay` with `NextJs` and I am having problems with the hydration. `NextJs` server injects data fetched into a script tag (__NEXT_DATA__) on the page which is then used on the client-side.
The problem with this is that we can't hydrate the function `getFragmentRefs` since this is just text data. But is there a reason why `getFragmentRefs` is a function and not ju

[2020-04-21 17:01] zth commented on #34
Hi!

`getFragmentRefs` is an actual function because we need to convert a record (that's nominally typed) to a `Js.t` (which is structurally typed), and because of how Relay works that needs to be the exact same object.  `getFragmentRefs` just returns the object where it has been defined, which allows us to change the types.

For some background I used to have another solution where I emitted `ext

[2020-04-21 17:01] zth opened #35 "[docs] Document SSR"

[2020-04-21 17:03] zth opened #36 "[docs] Document using with Next.js"
There's already a few people using ReasonRelay successfully with Next.js, like https://github.com/sync/pollen-tracker, but it should also be documented so people don't have to go through the same issues over and over.

[2020-04-21 17:06] zth opened #37 "[docs] Document subscriptions"
Subscriptions works with ReasonRelay, they just haven't been documented yet.

[2020-04-21 17:08] zth opened #38 "[docs] Document editor setup"
Document recommended editor setup. For example, I have a fancy-schmancy VSCode extension dedicated to adding some IDE-like features for building with ReasonRelay at https://github.com/zth/vscode-reason-relay . That should really be recommended as soon as it hits stable.

[2020-04-21 17:09] zth opened #39 "[docs] Make sure all example code in the docs can be copied as is"
A lot of people copy the code from the docs directly, and I think I could do some to clean up that code so it's usable right away after copying.

[2020-04-21 17:41] zth opened #40 "[docs] Add docs on recommended testing practices"

[2020-04-22 05:09] zth opened #41 "[feature] Add way to resolve a query fetch only from local cache"
Mimicking `Query.fetch`, but instead of fetching from the server, only check the cache. This isn't "native" to Relay (Relay does not provide a `fetchQuery` that checks the cache out of the box), so it'll need some code.

One way is to just add `~checkCache=?` to `Query.fetch`.

[2020-04-22 05:11] zth opened #42 "[ci] Set up full build (and release?) in GitHub Actions"

[2020-04-22 09:51] Arnarkari93 commented on #34
Thank you! 🙏
I figured out that I was not calling the `useQuery` hook in the component. Instead, I was trying to pass down the data I got from `getInitialProps`. I will update my PR to the `NextJs` examples. We could link to that example when merged when creating an SSR documentation.

[2020-04-22 09:51] #34 closed

[2020-04-22 19:54] zth commented on #36
I think we actually should do a full template based on the excellent https://github.com/ryyppy/nextjs-default so people can get started using ReasonRelay and Next.js together really fast.

[2020-04-23 05:46] zth opened #43 "[feature] Add a version of useFragment you can pass an option to"
Occasionally you'll want to pass fragment refs that are optional. Due to the rules of hooks in React, you always have to return the same amount of hooks in your render functions, so you can't just conditionally not run `Fragment.use` if you don't have that fragments data.

We'll need to add something like `Fragment.useOptional: option(fragmentRefs) => option(fragmentData)`.

[2020-04-23 09:15] zth opened #44 "[docs] Document @relay(plural: true) on fragments"

[2020-04-23 09:18] zth opened #45 "[feature] Bind way to provide (and create your own) handlerProvider"
`handlerProvider` is a way of letting you write custom handlers (think middlewares that run before a specific field is merged into the store, allowing you to change anything in the store as a field is added or updated in a centralized place). This is done by defining a handler and then referencing that on a field using the `@__clientField(handle: String!)` directive.

The magic `@connection` does

[2020-04-23 09:22] zth opened #46 "[feature] Bind missingFieldsHandler"
You can teach Relay how to resolve things locally in your schema by giving it a `missingFieldsHandler`. Say that you have a top level field called `userById(id: ID!): User` and one for `userByEmail(email: String!): User`. These return the same user given the same `id`/`email`, but there's no way for Relay to know that from just looking at your schema. With `missingFieldsHandler`, you can teach Rel

[2020-04-24 08:47] zth opened #47 "[docs] Document interacting with the store/updating the cache"
This is by far the single thing people struggle with the most with Relay, updating the cache. This needs to be documented thoroughly.

[2020-04-28 15:21] cometkim opened #48 "Separate preload code from the component module"
Hi @zth,

I'm trying to clone relay's [issue tracker example](https://github.com/relayjs/relay-examples/blob/master/issue-tracker) into reason-relay [here](https://github.com/cometkim/reason-relay-issue-tracker) (to learn ReasonML, and now I'm thinking ReasonRelay is best of Relay at this moment)

Currently, I'm having difficulty implementing Concurrent UI Pattern (a.k.a Render-as-you-fetch) in re

[2020-04-28 16:19] zth commented on #48
Hi @cometkim !

Really really awesome that you're experimenting with this! 😃 I actually spent some time on this a few weeks back, and while I never got around to publishing my work (nor actual code splitting which you're doing and would be _really_ cool to incorporate into this), I just pushed the work I had done previously to a new branch: https://github.com/zth/reason-relay/compare/router?expand

[2020-04-28 16:25] zth commented on #48
@cometkim are you using VSCode by any chance? If so, I'd love for you to test drive a dedicated VSCode extension for ReasonRelay I'm working on if you're up for it.

It's a bit rough around the edges still since it's in testing, but it should hopefully improve your experience. It's called `vscode-reason-relay` and is published (although I haven't announced it yet) and available in the VSCode Exten

[2020-04-28 16:46] cometkim commented on #48
@zth Yeah! I used your VSCode extension as well and I was surprised that the relay compiler was very seamlessly integrated. (And wondering that other relay compilers still don't offer better DX like this)

I'm satisfied with ReasonML's module system, PPX, and strong type inference are a perfect fit for codegen-based processes. (Even way faster. TypeScript is terribly slow when used with codegen) A

[2020-04-28 17:28] zth commented on #48
@cometkim I just published `0.8.3` which now supports what you want. Check this out: https://github.com/zth/reason-relay/blob/e3eca6151021c3c59ededca71b68a7b2ec4043bb/packages/reason-relay/__tests__/Test_query.re#L125-L128

I can hopefully get back to you soon-ish about the routing. Routing is always a hassle to get right, but I have some ideas for what I want to support in an initial release.

Gr

[2020-04-28 17:29] zth commented on #48
Fixed in https://github.com/zth/reason-relay/commit/6e29f8aa377b622d5bbeb3c1886f1105f31bcd0a

[2020-04-28 17:29] #48 closed

[2020-04-28 17:30] cometkim commented on #48
Thank you for the quick response!

[2020-04-28 17:40] cometkim commented on #48
@zth Oops, vscode-reason-relay overwrites new artifacts with older versions. Is there a way to make it use the workspace version?

[2020-04-28 17:43] cometkim commented on #48
Ah, never mind. It seems resolved after reloading vscode. :sweat_smile:

[2020-04-28 17:47] zth commented on #48
@cometkim please open an issue for that if you don't mind. I think it's just about restarting the compiler but that could be really confusing.

[2020-05-03 03:07] sync opened #49 "React / Relay version update (experimental)"
I just updated my project to and everything seems to work fine, just wanted to let you know and feel free to delete this issue:

[code]
and relay 9.1.0

[code]

[2020-05-03 10:08] zth commented on #49
Ah, great! I'll look at upgrading and cutting a new release as soon as I get a change 👍 Thanks!

[2020-05-03 10:08] #49 closed

[2020-05-06 13:03] Arnarkari93 opened #50 "Fragment with top-level union type."
I get an error when trying to define a fragment as a top-level node in a fragment. Let's say I have a `school` query and then I define in a fragment for the different `classes`

[code]

This should be a valid query/fragment set up in Relay if I am not mistaken. However, I get the error:

[code]

It looks like it has something todo with defining both `__typename` in the `query` and the `fragment`.

[2020-05-07 05:08] zth commented on #50
Hey @Arnarkari93 , thank you for reporting this!

I wonder, any chance you could test whether this works in a regular JS Relay project, and if so, how the generated types look?

Here's an example repo you can use: https://github.com/relayjs/relay-examples/tree/master/issue-tracker

It uses the GitHub API so there should be unions available to test on.

Thanks!

[2020-05-08 12:57] Arnarkari93 commented on #50
Hi @zth thank you for the answer. I added a PR to my fork of the issue-tracker and added a case for this. Seems like the types are being generated correctly in JS
https://github.com/Arnarkari93/relay-examples/pull/1

[2020-05-09 09:27] zth commented on #50
Thank you! So this happens because I haven't accounted for fragments potentially being unions in ReasonRelay.

I think I have a pretty good understanding of what's going on and how it potentially can be fixed, but it's a problem that touches a lot of the code base, and I don't really know when I'll have time to have a proper look at this.

Is this something you'd be interested in taking a stab at

[2020-05-09 10:19] Arnarkari93 commented on #50
Yes, I will be glad to contribute. It would be good to get some guidance to get started.

[2020-05-09 14:38] zth commented on #50
Excellent! Let me get back to you here with a thorough explanation of where to start. I'll make it as elaborate as I can, hopefully it'll serve as some form of development documentation 😄

[2020-05-14 13:35] Arnarkari93 opened #51 "Suspense with fragments"
Fragments will suspend when their required data is not ready. In javascript, you would pass in a nullable fragment reference. How would you do this in reason? Since fragment references are not optional.

Would it make sense to move the `getFragmentRefs()` function "one level" up? So it is more inline how it is done in plain javascript?
[code]

[2020-05-14 18:51] renanmav opened #52 "Error on pattern matching within commitMutation"
# Description

I’m trying to execute a mutation without using `Mutation.use(...)`. Instead, I want to execute it within another file (outside a component) using `Mutation.commitMutation(...)`. Something [like this](https://github.com/zth/relay-examples/blob/master/todo-reason/src/mutations/AddTodoMutation.re#L56).

My mutation basically executes some code inside `onCompleted`. It uses the response

[2020-05-14 20:26] zth commented on #52
Ah, yes, the bindings for `commitMutation` seems to be wrong. It's currently typed as returning an optional `response`, but according to Relay the returned `response` isn't optional.

Would you be interested in submitting a PR to fix that? If so, what needs to be done is to change `commitMutation` in `ReasonRelay.re` and `ReasonRelay.rei` to have `onCompleted` return just `C.response` and not `opt

[2020-05-14 20:29] zth commented on #51
Hi @Arnarkari93 , thanks for reporting this, and sorry for not getting back to you in the other issue you reported. I will soon enough 😅

Yes, this is interesting in a few different ways. My initial idea has been this: https://github.com/zth/reason-relay/issues/43

...providing an `Fragment.useOpt` fn that takes an optional fragment ref object and optionally returns the result. It'd work the same

[2020-05-14 20:38] renanmav commented on #52
Sure

[2020-05-15 10:41] Arnarkari93 commented on #43
Would it make sense to have `Fragment.use` take in an abstract type that `getFragmentRefs` returns? We would then move `getFragmentRefs()` up "one level" as I suggested in #51. I think this will result in a cleaner looking render method in the parent. Example:

[code]

[code]

[2020-05-15 10:45] Arnarkari93 commented on #51
Don't worry about it, I understand that it takes time.

Allright Let's carry on this discussion in #43

[2020-05-16 19:13] zth commented on #52
Fixed in https://github.com/zth/reason-relay/pull/56

[2020-05-16 19:13] #52 closed

[2020-05-17 09:49] zth commented on #51
Hey again @Arnarkari93 !

Not sure if this solves your issue here per-say, but I've added a `Fragment.useOpt` in this PR: https://github.com/zth/reason-relay/pull/58

Re: moving `getFragmentRefs` up one level, I don't believe that's possible unfortunately. `getFragmentRefs` just returns _itself_ in the underlying JS, and that allows us to cast our record in Reason to a `Js.t` structure with fragme

[2020-05-17 10:22] #43 closed

[2020-05-17 10:23] #50 closed

[2020-05-17 21:43] Arnarkari93 commented on #51
Yes, this makes sense. It is fine just wanted to explore the other options 🤓

[2020-05-17 22:43] sync opened #59 "Crash since 0.9.0 (bs-platform 7.3.x issue)"
Still looking at what's happening but here it's what i have so far

[code]

<img width="941" alt="Screen Shot 2020-05-18 at 8 38 48 am" src="https://user-images.githubusercontent.com/21725/82161872-a7e4a880-98e3-11ea-869a-25be725bf9e4.png">

[2020-05-17 22:46] sync commented on #59
relay and react version
[code]
relay compiler and friends are at `9.1.0`

[2020-05-18 04:48] zth commented on #59
Hi! Could you paste the generated file for the operation it's trying to use? And did you re-run the compiler?

[2020-05-18 04:49] zth commented on #59
Also I'd downgrade to Relay 9 from 9.1 since that's what I'm testing ReasonRelay with right now. Just to be sure it's nothing like that.

[2020-05-18 04:50] sync commented on #59
yes reran the relay compiler after the update

[2020-05-18 04:52] zth commented on #51
Great! I'll close this but feel free to open a new issue if you want to continue the exploration.

[2020-05-18 04:52] #51 closed

[2020-05-18 05:24] sync commented on #59
[code]

[2020-05-18 05:24] sync commented on #59
i'll try to downgrade to 9.0 to see if it makes any difference, but it worked before on 0.8.3 with the same relay versions

[2020-05-18 05:35] zth commented on #59
Yeah sure, it's mostly to rule it out completely.

Could you also paste the Reason of that generated module? And your bs-platform version.

[2020-05-18 05:39] sync commented on #59
[code]

[2020-05-18 05:39] sync commented on #59
[code]

[2020-05-18 05:40] sync commented on #59
will run it on relay in just a bit

[2020-05-18 05:45] sync commented on #59
same error with 9.0.0

[2020-05-18 05:47] sync commented on #59
also using latest react, react, react dom  and relay experimental versions, will revert to previous version

[2020-05-18 05:48] zth commented on #59
I might have an idea of what's causing this. Could you try downgrading `bs-platform` to `7.2.x` just to try if that works?

[2020-05-18 05:51] sync commented on #59
yeah every time i see issues with undefined i am thinking it's 7.3

[2020-05-18 05:52] sync commented on #59
yes it's 7.3, with bsb 7.2.2 i don't have that issue

[2020-05-18 05:53] zth commented on #59
Yeah, it's 7.3 unfortunately. I have a good idea of what it is and how to fix this, but I won't have time until tonight to fix + cut new release. I'll get back to you as soon as I've had a chance to look at it properly 👍

[2020-05-18 05:54] sync commented on #59
no rush, i have a work around

[2020-05-18 05:56] sync commented on #59
that's the diff
[code]

[2020-05-18 05:58] zth commented on #59
Yup! This is a very very weird JS-related issue 😄

Unfortunately coming from a part of the code base that's not properly typed with Reason or TS. I should probably try and re-rewrite that at some point, but starting out I'll just fix it to handle both representations.

[2020-05-18 06:01] zth commented on #59
I suspect this type of thing is the root of this bug:

[code]

[2020-05-18 06:02] sync commented on #59
oh boy

[2020-05-18 16:59] zth commented on #59
Fixed in https://github.com/zth/reason-relay/commit/a28043b438ba5b76336472144e86028eaa455453 and released in `0.9.1`. Please give it a spin and re-open if it doesn't work out for you.

[2020-05-18 16:59] #59 closed

[2020-05-18 23:14] sync commented on #59
worked thanks

[2020-05-21 02:56] philipbalbas opened #60 "Handling FutureAddedValue"
I have a graphgl query that looks like this:
[code]

with `type` property as an enum with values: `COMPREHENSIVE`, `PRACTICE`  and `MOCK`.

This is what the enum type in the generated graphql file looks like
[code]

However whenever I make a request using relay to fetch this query, the `type` property keeps returning a `FutureAddedValue`. How do I handle this?

[2020-05-21 05:22] zth commented on #60
That's interesting, that sounds like a potential bug! FutureAddedValue just means it couldn't map the enum. Could you paste the raw response from the network of your query?

Also, just to be sure, your enums are "single value", right? So the value of MOCK is a string "MOCK"?

[2020-05-21 06:52] philipbalbas commented on #60
Here's the response
[code]

[2020-05-21 08:49] zth commented on #60
@philipbalbas could you also paste your exact  `[%relay.fragment]` or `[%relay.query]` + the generated file for that operation (called `NameOfYourFragmentOrQuery_graphql.re`)?

[2020-05-21 09:02] philipbalbas commented on #60
Here's the query

[code]

and here's the generated file

[code]

[2020-05-21 09:10] zth commented on #60
@philipbalbas great! And the last piece of the puzzle - could you attach your exported schema (in SDL)? After that I'm pretty sure I got what I need ;)

[2020-05-21 09:44] zth commented on #60
Also - your `bs-platform` & `reason-relay` & `relay` versions.

[2020-05-21 09:52] philipbalbas commented on #60
[code]

  "bs-platform": "^7.3.2",
   "reason-relay": "^0.8.2",
   "react-relay": "0.0.0-experimental-8cc94ddc",

[2020-05-21 09:55] zth commented on #60
First off - could you try 0.9.1 of ReasonRelay? I'd also be curious about the GraphQL definition for Category which isn't included from what I can see.

[2020-05-21 09:59] philipbalbas commented on #60
[code]

I'll try updating

[2020-05-21 10:08] philipbalbas commented on #60
Updating `reason-relay` didn't seem to fix it
![image](https://user-images.githubusercontent.com/14971706/82548518-00d76980-9b8e-11ea-83fd-23c6aa5b905d.png)

Still getting `FutureAddedValue`

[2020-05-21 10:33] zth commented on #60
That's really weird - I added the exact code you pasted in here to my test suite and it works just fine for me, I get ``` `COMPREHENSIVE``` and not `FutureAddedValue`. Something must be up here, either with versions or something else. Any chance you can share your project somehow so I can take a closer look?

[2020-05-21 10:56] philipbalbas commented on #60
Yeah that is weird. Sure I've added you temporarily. I'm thinking this might have something to do with how I setup the server. Might not be relay compliant?

[2020-05-21 14:22] zth commented on #60
Before closing this - we followed up this on Discord and found that the issue wasn't with ReasonRelay, but at another level.

[2020-05-21 14:22] #60 closed

[2020-05-21 14:37] philipbalbas commented on #60
Yup got it to work now! Thanks again!

[2020-05-21 15:10] zth commented on #60
@philipbalbas Awesome! 😄 👏

[2020-05-26 22:49] ppsreejith opened #61 "Error on older Mac Os X versions"
First of all, thanks for the awesome work you're doing :)

On older OSX versions (10.13.6), when proceeding after installing this module, it throws an error:
`dyld: Symbol not found: ____chkstk_darwin`
and additional error
`Referenced from: /path/to/my-project/node_modules/reason-relay/ppx (which was built for Mac OS X 10.15)`

I'm running OSX version 10.13.6

I fixed it by compiling the ppx from

[2020-05-28 18:29] zth commented on #61
@ppsreejith Hey! Thanks for reporting that, I actually had no clue that differed between versions 😅 I'll leave this open for a while, should probably add some note to the README or investigate if I can get rid of that error all together and build for all versions at once.

[2020-06-05 11:34] Arnarkari93 opened #63 "Use relay-experimental package"
Why is this library not using the `relay-experimental` package but rather binding experimental features in `relay` from ` react-relay/lib/relay-experimental`? Is there some reason for it or was `relay-experimental` maybe non-existent when the bindings were written?

[2020-06-05 14:55] Arnarkari93 commented on #63
Nvm me this package was last published 3 years ago 😬

[2020-06-05 14:55] #63 closed

[2020-06-09 11:12] lypanov opened #70 "Support for request mocking"
Hi :)

I'm currently looking into using reason-relay for an internal project and digging deeper into getting testing working I ran into the lack of bindings for the mocking components. Is there any progress in this area? If not do you foresee any hurdles to binding to them? If not I could feasibly start on a PR (for now I'll be mocking fetch to work around the issue).

Update after 7 hours:

Just

[2020-06-09 11:46] sibelius commented on #70
you should start here https://relay.dev/docs/en/testing-relay-components

and checking `relay-test-utils` package

[2020-06-09 18:23] lypanov commented on #70
As I mentioned I'm looking into bindings for the mocking components. I'm unaware of any Reason bindings for them or is there something obvious I'm missing?

[2020-06-09 19:07] zth commented on #70
Hey @lypanov ! Exciting that you're looking into this.

I haven't really looked at binding the test utils yet, but nothing immediately comes to mind that'd make it not feasible. If you give it a shot I'd be happy to throw ideas around if you get stuck.

I've mostly opted to use `zth/graphql-query-test-mock` myself historically, just because it tests "more" and is a very easy way to get going. But

[2020-06-12 20:08] #37 closed

[2020-06-12 20:09] zth commented on #61
Closing this now, but thanks for noticing, and hopefully other people with the same issue can find this issue still even if it's closed.

[2020-06-12 20:09] #61 closed

[2020-06-23 11:54] lypanov commented on #35
I'm curious have you manage to get SSR working here? I've been digging into whats needed. Thank you!

[2020-06-25 20:17] zth commented on #35
@lypanov hi! Sure, there shouldn't be anything in ReasonRelay blocking SSR per se. @sync has got it working in Next.js for example.

I guess it's more a question of avoiding suspending at this point for it to work well. The easiest way to avoid suspending with ReasonRelay when doing SSR is if you can map one or more queries to your routes, so you can preload those queries to the store before rende

[2020-06-25 20:19] zth commented on #35
Here's an example from the tests; preloading a query, turning it into a promise and then waiting for that: https://github.com/zth/reason-relay/blob/19900815f3560cfee450fe917871d3b351e3c1f9/packages/reason-relay/__tests__/Test_query.re#L124-L138

[2020-07-12 14:01] zth opened #75 "[docs] Document caching best practices"

[2020-07-12 17:14] zth commented on #41
Partially solved in https://github.com/zth/reason-relay/pull/76 which allows for using `Query.fetch` to prefer the cache/store before the network.

[2020-07-12 17:14] #41 closed

[2020-07-14 21:10] Kasama opened #78 "reson-relay-compiler not working for bs-platform@8.0.0+"
`reason-relay-compiler` [references `bs-platform/lib/js/block.js`](https://github.com/zth/reason-relay/blob/d2ca7b81f9781eed64853f1ee30df5b048f6728e/packages/reason-relay/language-plugin/src/transformer/TypesTransformer.gen.tsx#L6). A file that was [deleted](https://github.com/BuckleScript/bucklescript/commit/bfcc48b337c3e7971966a0cae11887de7bda5bfe#diff-40231e0aa5ee32097fd3133156bbfe92) in versio

[2020-07-15 11:12] zth commented on #78
Hi!

I haven't gotten around to upgrading `bs-platform` to 8.x.x just yet (I should clarify in the docs that 7.x.x is the only thing that'll work right now). For now, please remain at `7.3.2` and Relay version `9.0.0`. I'll revisit this soon again!

[2020-07-15 14:33] osener commented on #78
The generated code seems to work with 8.x.x however. Can reason-relay somehow depend on this specific version and have a duplicate `bs-platform` installation under a package-level `node_modules` folder?

[2020-07-20 22:34] ppsreejith opened #84 "Update on Hasura Relay Compatibility"
The docs on [Using with Hasura](https://reason-relay-documentation.zth.now.sh/docs/using-with-hasura) mention that:

As of v1.3.0-beta.1, Hasura is relay compliant.
Source: The [issue page](https://github.com/hasura/graphql-engine/issues/721)

I've tested this on my own machine. I'm planning to use reason-relay with Hasura. If it helps, I can add some docs on how to set up Hasura with Reason-Relay

[2020-07-21 05:02] zth commented on #84
Thanks! Adding some information on using ReasonRelay with Hasura would be great if you're up for it! 🙂

[2020-07-22 09:57] #84 closed

[2020-07-22 17:37] zth opened #87 "[docs] Document @raw_response_type"

[2020-07-22 17:38] zth commented on #70
I'm closing this due to inactivity, but feel free to re-open again if needed.

[2020-07-22 17:38] #70 closed

[2020-07-23 06:33] zth commented on #78
@osener yeah, that's probably the best way to approach it. I'll start working on this soon, hopefully it'll be an easy fix, but we'll see 😉

[2020-07-23 06:35] zth commented on #19
@rickyvetter likely starting work on this soon given that BS is approaching shipping that feature from what I can see. `SchemaAssets.re` is gone too now, for other reasons as well.

[2020-07-23 09:49] #78 closed

[2020-07-23 09:51] zth commented on #78
Unfortunately a new release of ReasonRelay will have to wait some, but at least it's fixed now.

[2020-07-23 10:01] zth commented on #26
I'm going through old issues cleaning up some, and I'm going to close this for now. Summarizing why: the benefit of using `graphql_ppx` in this case isn't clear to me, other than sharing infrastructure. I'd be all for that if the infrastructure was compatible, but in my mind it's not - Relay, what the Relay compiler outputs and how it works is simply different in enough ways that I don't see the b

[2020-07-23 10:01] #26 closed

[2020-07-23 10:23] jfrolich commented on #26
It's a different approach. Or you generate minimal reason code with the relay compiler, or you generate all reason code with the relay compiler. You can leverage language support of graphql primitives with `graphql-ppx` instead of generating a bunch of reason code. I see why you did the latter as `graphql_ppx` was quite immature at that point! But the former is more powerful, faster, elegant and w

[2020-07-23 10:30] jfrolich commented on #26
GraphQL is a standard. `graphql-ppx` creates language primitives for operations and fragments. Relay is just a client with some fancy tooling (you have to hook into that compiler for sure). But saying they are incompatible is not true. I can definitely help you guide leveraging `graphql-ppx`, that way the surface area of this lib becomes smaller and you get a lot of stuff for free. But if the appe

[2020-07-23 10:39] jfrolich commented on #26
Yeah that's exactly the use case. You don't need "parts of graphql-ppx" for that.

[2020-07-24 18:31] zth commented on #19
This is implemented here https://github.com/zth/reason-relay/pull/90 although in a slightly different shape. Waiting a stable BS release with the feature, and it'll be merged after that.

[2020-07-25 10:13] zth opened #92 "[docs] Clarify Query.use vs Query.usePreloaded/Query.useLoader"
Relay allows you to easily start loading data as soon as possible, and not have to wait until a component actually renders (like with `Query.use`). There's a bunch of primitives for this in Relay/ReasonRelay, and they need to be documented properly; when to use what, and what the trade-offs are.

[2020-07-25 19:09] zth commented on #78
Now released in `0.10.0`!

[2020-07-26 14:51] osener commented on #78
Awesome release, thank you!

[2020-07-29 16:39] tsnobip opened #93 "refetch should return a Disposable"
according to the Flow types `refetch` functions should return a `Disposable.t` instead of unit:
https://github.com/facebook/relay/blob/c5153f7c348fcc8b8ea195474eb35538b6a1870f/packages/relay-experimental/useRefetchableFragmentNode.js#L101
that would help to stop the side effects on cleanup.

[2020-07-29 17:08] tsnobip opened #94 "fragmentRef of a conditionally included fragment can be null"
today fragmentRefs are not typed as optional, but they can be null when when they reference a fragment that is conditionally included with  `@include` and when the condition is false.

[2020-07-30 18:52] zth commented on #93
Fixed in https://github.com/zth/reason-relay/commit/a7dc516ad524dfecc1b5c5f6403d6b543ca0a695.

[2020-07-30 18:52] #93 closed

[2020-07-30 23:24] Yakimych opened #100 "Mutation results in compilation error in generated *_graphql.re file"
Hi! I've started converting a reason-apollo-hooks-based app to reason-relay and have encountered an issue after trying to implement a mutation. Seems like the generated types are circular for this case.

## Steps to reproduce:
1. Clone the "relay" branch from here: https://github.com/Yakimych/relogify/tree/relay
2. Run `npm run relay`. The files should get generated without errors.
3. Run `npm run

[2020-07-31 07:18] zth commented on #100
Ah right, it's an ordering issue. Thank you for reporting, I'll fix this soon.

[2020-07-31 09:39] zth commented on #100
Fixed in https://github.com/zth/reason-relay/commit/ce39ada434fe9e73553bf41eaacf5fea7c3de5fb

[2020-07-31 09:39] #100 closed

[2020-08-03 16:47] zth commented on #19
Fixed in https://github.com/zth/reason-relay/commit/e36948f5b1d800c8a17d10e92e207308bb299aa8 🎉

[2020-08-03 16:47] #19 closed

[2020-08-05 02:29] Yakimych opened #102 "Regression: certain enums get serialized as integers instead of strings"
I've noticed a regression after the latest release - mutation variables get serialized to integers in certain cases.

This is the relevant part of the mutation generated correctly (previous version of reason-relay):
[code]

Now in version 0.11.0, I am getting the following (`communities_name_key` and `name` get serialized to **712960867** and **-922783157** respectively):
[code]

I've quickly look

[2020-08-05 10:44] zth commented on #102
Did you re-run the compiler after upgrading?

[2020-08-05 10:46] zth commented on #102
Oh, and also, did you upgrade to `bs-platform` `8.2.0` specifically? Try those two things if you haven't already, otherwise I'll have to dig some.

[2020-08-05 12:13] Yakimych commented on #102
Oh, sorry - looks like bs-platform is the culprit.

Unfortunately I cannot test this properly in my project though, since for some reason I get `File "bsconfig.json", line 4: Error: Unsupported jsx version 2` when I update, but I doubt this is somehow related to reason-relay. Tested quickly in a freshly created project and the mutation works as expected. Sorry again for the confusion, I should hav

[2020-08-05 12:13] #102 closed

[2020-08-05 12:39] zth commented on #102
Haha no problem, glad it worked out!

[2020-08-07 00:59] farukg opened #103 "[feature request] generate all reason types defined in schema.graphql for "client-side-only"-usage without a relay-server"
First of all: thx for this great library! :)

### Introduction
Right now, I'm trying to use relay in an application where the backend its talking to, doesn't even provide a graphql endpoint and the state is managed by redux. I don't count this as an excuse to not start using graphql & relay :D

### Goals
1. pretend there is a relay-server at the backend-side
2. treat the redux store as an addition

[2020-08-07 09:16] zth commented on #103
Hi! While a very interesting problem/project in itself, most of the things you talk about are indeed very much out of scope for this lib 😄

I think your best bet is to just run your own instance of `graphql-js` on the client (maybe in a webworker to get it off the main thread if needed).

Construct a schema, and expose that to Relay so Relay effectively queries that service. That service can then

[2020-08-07 10:23] farukg commented on #103
That part i have already done and it works fine :)
It is just a custom network layer like so:
[code]

As you are already doing this when a query is defined, i wonder if it is possible to generate the graphql types for the whole schema which i want to use for the resolvers ?

[2020-08-07 10:27] zth commented on #103
No, the compiler only takes care of operations defined to be used by Relay. I think what you're after is regular codegen (which you've already been using, as you've shown), which isn't something Relay deals with.

[2020-08-07 10:34] farukg commented on #103
Oh ok, so you don't have the actual graphql types at hand somewhere, which could be easily written to a file, correct?

[2020-08-07 11:00] zth commented on #103
Unfortunately no, I don't. The Relay compiler generates a structure _per GraphQL operation/fragment_ that's a combination of that GraphQL content and the schema. That's then transformed to Reason types. So there's unfortunately no place where the entire schema is converted to types.

But to be honest, I think rolling your own codegen is perhaps the easiest approach anyway as you'll likely have a f

[2020-08-07 11:11] farukg commented on #103
i understand, looks like i need to stick to my current sub-optimal solution :(

thx, for your quick response!

[2020-08-07 11:11] #103 closed

[2020-08-07 23:08] Yakimych opened #104 "Docs: compilation errors in examples for subscriptions"
Hi! I've been trying to get subscriptions to work according to the docs, and have discovered several issues with the samples for RelayEnv.re here: https://reason-relay-documentation.zth.now.sh/docs/subscriptions#subscriptions-in-relay

1. The type annotation for `subscriptionFunction` indicates one input parameter, but the function itself takes 3:
[code]

2. `ReasonRelay.Observable.t` is asking fo

[2020-09-02 18:33] zth commented on #104
This one is resolved in your PR https://github.com/zth/reason-relay/pull/106, right?

[2020-09-03 04:58] Yakimych commented on #104
Yes, indeed! Closing this.

[2020-09-03 04:58] #104 closed

[2020-09-21 17:14] Arnarkari93 opened #113 "Danger when querying interfaces"
I spotted a dangerous query that reason-relay generated types could prevent. I made a PR here https://github.com/sothebys/reason-relay/pull/1/files with the changes that result in the type system not giving errors but resulting in runtime errors.

Consider the following query
[code]

Then generating the types for this query reason-relay will not to create a variant type that you can switch over fo

[2020-09-24 15:08] tsnobip commented on #113
wouldn't `fragmentRefs` be typed as optional here anyway?

[2020-09-24 16:12] Arnarkari93 commented on #113
At least right now. That is one solution. But would not generating a variant be the expected behaviour?

[2020-09-24 17:10] tsnobip commented on #113
what I meant was that since `fragmentRefs` is optional, there should be no runtime error if it's not present, shouldn't it? I haven't checked myself, just wondering.

Regarding if it should be a variant, I guess it would indeed be more idiomatic, but it would require a runtime conversion, that might be unnecessary in the near future if rescript changes its representation of variants (still work in

[2020-10-01 10:46] zth commented on #113
Hey @Arnarkari93 ! Sorry for missing this.

To make a long story short - you're absolutely right, the types are less than ideal for that particular use case. While I could theoretically fix it in the type generation of ReasonRelay, I've opted to stay as compliant as I can with the types that Relay generate, and this is actually a problem with the types generated by the compiler itself.

It's a pro

[2020-10-06 10:55] Arnarkari93 commented on #113
No worries, although it is not ideal the workaround is working for me just fine.

[2020-10-11 14:24] nrako opened #114 "questions: local state mgmt and rescript supports"
Hi! First, thank you very much for sharing this project! I've been exploring and playing with it and I love the promise!

Just two quick questions:

Is [Local State Mgmt](https://relay.dev/docs/en/local-state-management) supported? I see [commitLocalUpdate](https://github.com/zth/reason-relay/blob/0.11.0/packages/reason-relay/src/ReasonRelay.rei#L866) and [setLinkedRecords](https://github.com/zth/

[2020-10-11 17:59] zth commented on #114
Hey @nrako!

Local state management is supported via `commitLocalUpdate` as of now. You're indeed right that's the wild west though, with no type safety. I've been eyeing binding [commitPayload](https://relay.dev/docs/en/a-guided-tour-of-relay#commitpayload) instead, which is a type safe way of interacting with the store (allowing you to commit queries locally in a type safe way). When I last look

[2020-10-11 20:28] nrako commented on #114
Hey @zth!

I very much appreciate for your time and these precisions, thanks!

The `commitPayload` & `@raw_response_type` combo seems to be a great approach! I'm still very green in regard to Relay and I just learned something new, but I'll try to investigate in my spare time. In due time, I might take you on your offer for some guidance. Of course, if I manage to get something up and running I'll

[2020-10-11 20:28] #114 closed

[2020-10-17 14:37] nrako commented on #114
So I was eager to gives this a good try but I immediately hit issues and very quickly [felt out of my depth](https://twitter.com/davesnx/status/1317176154869108738).

Here's the deal when I tried to build `reason-relay-ppx` I hit that "notorious" [macOS `-Wno-implicit-function-declaration`](https://github.com/ocaml/opam-repository/pull/17379) issue:
[code]

Then I naively thought that I could try

[2020-10-17 17:35] sorenhoyer commented on #114
You don't need to build the ppx files - just run the ci-build.sh (ish... don't remember the exact name) script to generate the _release folder and copy the ppx files from node_modules/reason-relay (from an existing install of the latest published version) and pack it as tgz and install.

I can share my boilerplate next time I'm at the pc which is on monday - there i have packed a build in a local

[2020-10-18 16:48] nrako commented on #114
Thanks @sorenhoyer – using `./build-ci.sh` and copying the ppx files worked.

However, at this point I'm just facing different issue; again probably all due my ignorance in this bleeding edge environment. I'm not totally discouraged but at this point I think I'd love to see your boilerplate before doing any more experimentation. Especially if your boilerplate contains some query, mutation and frag

[2020-10-19 18:14] zth commented on #114
That looks like the regex isn't quite working as expected, right @sorenhoyer ?

Regexes really aren't great for parsing code, but unfortunately it's what we're using right now 😞 Sorry for making you go down that rabbit hole..

@nrako I don't think anything is wrong at your end though, so don't despair.

@sorenhoyer what do you think of adding a few tests to the file doing the parsing/looking for t

[2020-10-19 21:05] sorenhoyer commented on #114
@nrako I pushed a very early version of the new boilerplate I'm working on. The idea is that in time it will cover preloaded + nested queries, (refetchable) fragments, pagination/lazyloading, mutations, subscriptions live queries etc. But at least this is a start.

I will look into the regex again, to see if I can find the culprit. Can you paste your entire file?

@zth Sure - I'll add a few tests.

[2020-10-20 07:36] nrako commented on #114
@sorenhoyer – I can look into sharing a minimal example later today (in 8-10 hours), but I really had that issue to any query with variables.

[2020-10-20 19:54] nrako commented on #114
Sorry I couldn't followup as I planned but I'm positive that any query with variables like in my example https://github.com/zth/reason-relay/issues/114#issuecomment-711285829 would fail, and if I removed all the `($variables: ...)` then it works.

[2020-10-20 19:59] sorenhoyer commented on #114
@nrako no worries, I'll make sure to get it to work with variables and write some tests for it. Unfortunately this is a quite busy week for me, but I'll try to get it done during the week. Should be very simple to fix. Thanks for the feedback :p

[2020-10-23 15:47] Arnarkari93 opened #116 "Support for @inline fragments"
How would reason-relay tackle supporting inline fragments? So non-react function can take advantage of data masking and getting correct reason types?

I tried binding it myself but was not successful since I could not find out how to get the module type that `[%relay.fragment]`

[2020-10-23 17:08] zth commented on #116
`@inline` should work as-is now already, is it not? Or are you referring to `readInlineData`, which would allow you to read a fragment via a fragment ref outside of render/not via a hook?

[2020-10-23 17:10] Arnarkari93 commented on #116
Yes, I am referring to readInlineData.

[2020-10-23 17:11] zth commented on #116
Let me try and bind it real quick and get back to you... 😄

[2020-10-23 17:13] Arnarkari93 commented on #116
This is as far as I got.
[code]

But I cant get type type `ReasonRelay.fragmentRefs(|> Some fragment )`

[2020-10-23 17:19] zth commented on #116
I think what we should do isn't binding it in general, but rather generate code for it via the generated fragment module only when the fragment has `@inline` defined. So the API for using it would be roughly:
[code]

Are you following how I'm thinking? I'll give it a try now and see if I can get it together real quick.

[2020-10-23 17:24] Arnarkari93 commented on #116
Yes, I follow, so we need to add it in the ppx, that's where you lose me 😬

[2020-10-23 17:25] Arnarkari93 commented on #116
I am not that comfortable adding it to ppx but I am willing to try.

[2020-10-23 17:27] zth commented on #116
Give me a few minutes here and I'll have something you can review and hopefully get some insight on my thinking around adding stuff to the PPX, and then I can guide you through doing it yourself for the next feature we want to bind that touches the PPX, if you're interested?

[2020-10-23 17:31] Arnarkari93 commented on #116
yes! very interested.

[2020-10-23 17:41] zth commented on #116
Check this out: https://github.com/zth/reason-relay/compare/bind-read-inline

Is that making sense?

I haven't actually tested it yet so it might not work 😅

[2020-10-23 17:47] zth commented on #116
...I'm making a few changes to that, bear with me a few more minutes.

[2020-10-23 17:56] Arnarkari93 commented on #116
This looks good to me! Thank you for responding so quickly! I will try it out locally when I get a change.

[2020-10-23 18:29] zth commented on #116
Implemented in https://github.com/zth/reason-relay/pull/117

[2020-10-23 18:29] #116 closed

[2020-10-23 19:32] zth commented on #114
Hey @nrako just an FYI, I ended up implementing the thing I was originally talking about in this thread - `commitLocalPayload` for queries, for local state management. Check out the PR here: https://github.com/zth/reason-relay/pull/118

[2020-10-25 18:18] zth commented on #42
Solved in https://github.com/zth/reason-relay/pull/119

[2020-10-25 18:18] #42 closed

[2020-11-08 19:50] zth commented on #75
Closing this since it's not really a ReasonRelay specific thing and should be documented elsewhere.

[2020-11-08 19:50] #75 closed

[2020-11-08 19:50] zth commented on #87
Closed in https://github.com/zth/reason-relay/commit/64dd64ee6ba47fdf854acc2615cdb3f0718ed87b

[2020-11-08 19:50] #87 closed

[2020-11-25 11:07] domalak commented on #35
Hi @zth ,
thank you for this project!
I don't see `preload` method in my generated `_graphql` modules. Am I missing something?

[2020-11-25 11:10] zth commented on #35
@domalak hey! I think I've renamed it to load in order to stay synced with the Relay naming.

[2020-11-26 11:49] domalak commented on #35
@zth yeah `load` works. Thanks!

[2020-11-27 12:13] hariroshan opened #128 "Can you add id field in operation type to support presisted queries?"
If we use this option in relay.config.js `persistOutput: "./presist.json" ` our queries are persisted in a json file.
In the Relay environment, we will receive this ID in the operation object and text will be null. So can you add id type to operation record.

[2020-11-29 15:22] zth commented on #128
Yes, this would be a good addition for sure. Mind sending a PR?

You can work around the binding missing easily until that is released - do you know how already or do you want me to tell you?

[2020-11-30 14:56] hariroshan commented on #128
I know I can add a record field `id` under `ReasonRelay.Network.operation` like so
[code]
And everything else should work fine. But the problem is than when presistedQueries are used, `operation.text` field will be `null` and `id` field will be `Some(id)`. To overcome this, I should make `operation.text` field also `option(string)`. And this creates unnecessary states that we need to handle like `

[2020-12-01 07:41] zth commented on #128
Yeah, I agree with all of those points. However, I'm thinking whether it's worth chasing "fictive" type safety here. I'm inclined to just add `id: string`, not optional, and let the user keep track of which one they're using themselves, depending on whether they have persisted queries or not.

My reasoning is that while a sum type is more correct, it still won't help point the user in the right di

[2020-12-01 08:00] hariroshan commented on #128
Yeah It makes sense. Adding `id: string` is the simplest option. But It should be mentioned in the docs for better usage of the library

[2020-12-01 08:30] zth commented on #128
Sure! Would you mind PRing adding the prop? You could also add a comment above the prop definition that people will then see in their editor, like:
[code]

[2020-12-01 09:33] hariroshan commented on #128
I made the edits and sent a pull request. Thanks

[2020-12-01 09:33] #128 closed

[2020-12-09 15:32] hariroshan opened #131 "[Question] How can I create an empty connection from a mutation response?"
I have the following query. Which is PostsConnection with each post consists of Comments Connection.
[code]
When I create a post, I know that there will not be any comments, so I only request post related fields from the mutation response like so,
[code]
I am using Optimistic Updater to manually, update store. When I append the updated `RecordProxy` into the `PostsConnection`, I get warning saying

[2020-12-10 12:01] hariroshan commented on #131
Leaving answer for anyone having the same issue.
In the mutation query, adding the ` @connection(key: "PostComments_comments")` directive  to the `comments` solves the issue.

[2020-12-10 12:01] #131 closed

[2020-12-10 18:31] zth commented on #131
Happy that you figured it out! 😄

[2020-12-11 13:02] hariroshan commented on #131
@zth it took frustrating amount of trial and error continuously for 2 days.

[2020-12-12 12:42] hariroshan commented on #131
@zth How to upload files to graphql server using the library?

[2020-12-23 16:50] leoancap opened #138 "Query.fetch should return ReasonRelay.Observable.t('a)"
Since fetchPromised was removed, there is no way for the user to have access to the actual observable. So, instead of returning unit when calling Query.fetch, do return the actual observable.

`let promise = Query.fetch(~variables=(), ~environment, ())->ReasonRelay.Observable.toPromise
`

[2020-12-24 06:32] zth commented on #138
Thank you, will fix for the next version!

[2020-12-26 11:07] zth commented on #138
Closed in https://github.com/zth/reason-relay/commit/1934bf4fb6d097124dfd82106d9c7917cd337a93

The best solution ended up being adding back a version of `Query.fetchPromised`.

[2020-12-26 11:07] #138 closed

[2021-01-09 14:28] zth commented on #113
Closing this, will most likely be resolved by the Relay Rust compiler.

[2021-01-09 14:28] #113 closed

[2021-01-09 14:29] zth commented on #94
I'm going to go ahead and close this for now, but yes, this is sadly expected and I believe it's a limitation in Relay itself. It's quite annoying so I'll make sure to try and figure out a solution, but right now it's expected.

[2021-01-09 14:29] #94 closed

[2021-01-14 09:09] zth opened #139 "[add your ideas] Recipes for ReasonRelay"
We're going to add a "Recipes" section to the ReasonRelay docs. These recipes will detail how to do common things that you'll find yourself wanting to do when building an app. The idea is that the recipe will demonstrate both the actual code, as well as describe what concepts are at play (and where you can read more about them), and why you do what you do.

There's a ton to cover - post your ideas

[2021-01-14 09:10] zth commented on #139
### Using fragments outside of React's render method
Fragments are a great way to declare data dependencies for anything in your app relying on data from GraphQL. Something that's a bit hidden is the fact that you can use fragments outside of React's render method via adding `@inline` to your fragment, and then using `Fragment.readInline(fragmentRef)`. This should be detailed with an example.

[2021-01-14 09:11] zth commented on #139
### Inserting added items from a mutation into connections - simple cases
Show how to insert an added item from a mutation into an existing connection in the simplest possible way.

[2021-01-14 09:11] zth commented on #139
### Inserting added items from a mutation into connections - advanced cases
Show how to insert an added item from a mutation into an existing connection in more advanced scenarios (multiple connections, can't use `__id`, etc)

[2021-01-14 09:13] zth commented on #139
### Using client side state
Show how to extend existing types and add totally new types client side, and then how to leverage that data.
Show how to piggy-back on the `Node` interface to write helpers that can update any node in the store in a type safe way.

[2021-01-14 13:22] ajf-ajf commented on #139
### 'Normal' Pagination (i.e., not 'infinite scrolling')

Show how to extend Relay's default cursor pagination conventions to allow for more typical pagination patterns. e.g., cursors for first and last page, and x number of pages adjacent to the current page.

[2021-01-14 13:58] zth commented on #139
### Invalidating things in the store after a mutation
This is an advanced tactic to handle "updating" the store after mutations. Relay allow you to invalidate parts of the store, meaning that the next time the invalidated part is evaluated through a query/fragment/yadayada, Relay will treat it as missing and refetch the whole thing that depends on that. However, this does not happen automatically

[2021-01-14 13:58] zth commented on #139
### Handling login/logout
Invalidating the entire store and re-rendering the app after logging out, etc.

[2021-01-14 14:20] cometkim commented on #139
### Preloading with router

Show how to interact with preloaded data before and after navigate to a route.

This is one of the important concepts in original [Relay examples](https://github.com/relayjs/relay-examples/blob/master/issue-tracker/README.md) and gives the user an idea of how to integrate UI with Concurrent mode.

[2021-01-15 14:40] zth commented on #139
### Manual store updates after mutations
Cover updating the store imperatively after mutations in general. Most people will hopefully not need to do this at all, but some will, so it's important to cover.

[2021-01-16 20:32] zth opened #141 "Add comment to generated records of connections about getConnectionNodes helper"

[2021-01-16 21:05] #47 closed

[2021-01-16 21:05] #39 closed

[2021-01-16 21:05] #38 closed

[2021-01-17 07:52] zth commented on #139
### Handling uploads
Handling uploads through GraphQL via Relay.

[2021-01-17 07:55] zth commented on #139
### Partial rendering
Leveraging suspense and Relay's partial rendering mode to partially render views with existing cached data while waiting for queries.

[2021-01-25 05:11] webican opened #143 "Is it possible to adopt rescript/reason-relay incrementally?"
Hi,

I have a fairly large codebase with 209 Relay fragments written in TypeScript that I'd like to switch to Rescript. I'd like to know if it would be feasible to migrate incrementally just 1 component with (usually) 1 fragment at a time?

I'm already running latest experimental React + experimental Relay in concurrent mode without problems using nothing but functional components and hooks. I'm a

[2021-01-25 07:30] zth commented on #143
Hi @webican ! It's easy to re-use the environment between TS/ReScript (so the cache etc is shared), but there's no way out of the box to use both ReScript and TS at the same time (meaning including fragments defined in TS in ReScript, and vice versa).

This is however a use case that I'm interested in supporting, and I have a few ideas for how it possibly could be supported. So if you're intereste

[2021-01-25 08:03] webican commented on #143
Hi @zth Of course I'm interested in experimenting, though I don't think I would be of much help considering I haven't written a single line of ReScript code yet.

Another thing probably worth mentioning is that I'm using @babel/preset-typescript for transpiling TS and babel-plugin-relay for runtime graphql artifacts with Webpack.

[2021-01-25 08:49] zth commented on #143
@webican I'm hoping there won't be too much ReScript involved at all at this point. Let's continue discussing this on our Discord: https://discord.gg/wzj4EN8XDc

[2021-01-27 19:19] zth commented on #141
Closed in https://github.com/zth/reason-relay/commit/d3f81f60f583e4132a6f528a47ba40eadc15ee02

[2021-01-27 19:19] #141 closed

[2021-01-27 19:54] marco2216 commented on #139
Maybe this is what you mean by partial rendering, but I had this issue with rendering data from the store while refetching data in a paginated list. Upon calling the refetch function, the list always suspends, and on the initial refetch, there would be no data in the store (that Relay can identify, in fact we have some list data that we are already displaying). What I ended up doing was creating t

[2021-01-28 15:25] zth commented on #139
@marco2216 Please open a separate issue with that and we can discuss that there :)

[2021-02-02 04:40] bdj opened #146 "Watchman deleting generated .js files because they are not marked with @generated"
When running ReasonRelay in watch mode, the .js files sporadically disappear because watchman thinks they are not generated files. I think a solution could be to preserve the comment from the .re file as mentioned here: https://github.com/rescript-lang/rescript-compiler/issues/662

[2021-02-05 06:03] zth commented on #146
Good catch! It at least won't hurt to put it in there, so I'll make sure to add it to the next release.

[2021-02-06 10:15] zth commented on #146
Fixed in https://github.com/zth/reason-relay/commit/518de066f5912e30f31233a594fb142cfacee696

[2021-02-06 10:15] #146 closed

[2021-02-09 18:25] zth opened #148 "Full migration to ReScript checklist"
This will play out over the coming months. Just keeping tabs on what needs to be done here and what stage it's at.

- [x] Able to read ReScript source in the compiler
- [x] Convert main ReasonRelay package files to ReScript
- [x] Docs converted to ReScript
- [x] Tests converted to ReScript
- [x] Dedicated VSCode extension converted to work on `res`
- [x] Make compiler output `res` files and syntax

[2021-02-17 19:41] zth commented on #148
Converting the codegen to output `res` is worked on here: https://github.com/zth/reason-relay/pull/150/files

[2021-02-18 20:35] fakenickels opened #152 "Fails to build while running on Vercel or Netlify's runner"
When building a project with reason-relay@0.13 or reason-relay@0.14 in either Vercel or Netlify the following error occurs when calling `yarn reason-relay-compiler`:

[code]

We are investigating what's cracking but I think it's a good idea to open the issue for tracking the cause and to check if anyone else is having it as well. Locally it works just fine.

Node version: 14.x or 12.x

UPDATE:

As

[2021-02-18 21:04] zth commented on #152
Interesting! Did this start happening or has it never worked?

[2021-02-18 21:09] bdj commented on #152
I think this happens because the executables that are included in reason-relay are dynamically linked to newer versions of GLIBC than are available on the machines that Vercel/Netlify use. One possible solution is to statically link the executables so that they don't have a dependency on GLIBC. I'm planning on working on a PR for this today.

[2021-02-18 21:10] fakenickels commented on #152
@bdj I think that's it. We are having the same issue with lenses-ppx and it started with the latest esy version

[2021-02-18 22:24] bdj commented on #152
This might fix things: https://github.com/zth/reason-relay/pull/153

[2021-02-19 05:13] zth commented on #152
I'll see if I can get a release out today with this fix.

[2021-02-19 07:36] zth commented on #152
I've pulled that fix in to master, and it works great for Linux, but breaks for macOS. So I think we need to find a good way of only applying the static linking on Linux in CI for this to work out.

[2021-02-19 10:25] fakenickels commented on #152
According to https://github.com/esy/esy/issues/1190#issuecomment-758067689 this issue could have been fixed by building the binaries with esy@nightly. I've tried to here https://github.com/Astrocoders/lenses-ppx/commit/f3a338c7db853579b85f6689e71311bde2a01a2f but it still didn't work.

[2021-02-21 16:18] cometkim commented on #139
### Data-driven code-splitting

Not sure if ReasonRelay supports `JSModule`, `@match`, and `@module`, but I think it is an eye-catching feature of the Relay.

https://mrtnzlml.com/docs/relay/match-module

This could be a topic similar to the preloading section because we have to deal with dynamic imports.

[2021-02-22 19:13] zth opened #155 "Reasonable docstrings for generated functions in PPX"
The functions generated by the PPX could really do with some good docstrings, so it's easier to understand what's there and why.

[2021-02-23 18:22] zth commented on #148
We'll do one more release name ReasonRelay, and then fully rename to RescriptRelay 🚀

[2021-02-23 18:54] zth commented on #143
Short answer - yes, it's possible, and @webican graciously started documenting it here: https://github.com/zth/reason-relay/pull/157

[2021-02-23 18:54] #143 closed

[2021-02-23 19:05] zth commented on #155
Closed in https://github.com/zth/reason-relay/commit/d4f059bdf14741ae7906d8f6c93e6c1e59a1f645

[2021-02-23 19:05] #155 closed

[2021-02-23 19:07] zth commented on #92
Clarified somewhat in the docstring from the PPX. Should be clarified more in the docs, but we'll do that later.

[2021-02-23 19:07] #92 closed

[2021-02-23 19:38] #152 closed

[2021-02-23 20:43] zth commented on #152
This is now fixed. For anyone who can't migrate to `@rescript/react` yet (which `0.15.0` uses), there's `0.14.0-static-binaries` that does the same thing, but for `0.14.0`.

[2021-03-02 22:24] webican opened #161 "@inline fragments not supported in mutation responses"
I have a case where I need to resolve a promise with mutation response inside onComplete callback. Since onComplete callback is being run outside React render cycle and because it has access to data consumed by another part of the application, I'd like the mutation response to contain an inline fragment.

[code]

[2021-03-02 22:31] webican commented on #161
I've been using this inline fragment inside mutation response for quite a while with Typescript react-relay. It would be great if it could be also supported by ReasonRelay.

[2021-03-08 19:47] #161 closed

[2021-03-09 03:31] philipbalbas commented on #152
I also ran into a similar error when building in Vercel

[code]
I'm currently using `@rescript/react`: `0.10.1` and `reason-relay`: `0.15.0` running on Node v14

[2021-03-09 10:12] fakenickels commented on #152
Or v0.14.1
On Tue, 9 Mar 2021 at 07:11 Gabriel R. Abreu <grsabreu@gmail.com> wrote:

--
Cheers,
Gabriel Rubens

[2021-03-09 21:34] zth commented on #148
This is considered done, as depending on an eventually renamed bs-platform will come naturally once that's released.

[2021-03-09 21:34] #148 closed

[2021-03-09 21:35] zth commented on #44
This is will/should be handled by the official Relay docs.

[2021-03-09 21:35] #44 closed

[2021-03-24 22:58] dan003400 opened #168 "[bug] - Multiple @connections generate invalid codeGen (Missing line breaks)"
The following query will result in compiler errors only in **Mutation** responses:

[code]

![image](https://user-images.githubusercontent.com/1211542/112394302-7c340b00-8cca-11eb-9c7f-370ddd8fc6ab.png)

[2021-03-25 07:15] zth commented on #168
This should be fixed in `rescript-relay@0.16.0+` I think. Please try upgrading to that if you haven't already and re-open this if it still doesn't work.

[2021-03-25 07:15] #168 closed

[2021-03-31 16:16] zth opened #170 "getConnectionID is broken"
I made an error binding the new helpers in the last release 🙈 . Will fix in next release.

[2021-03-31 16:20] zth opened #171 "Document using RescriptRelay with Storybook"
I'll just dump this here before I have a chance to properly document this. But the idea is:

1. Create a mock network layer that never makes a network request
2. Leverage the `node` interface to create a query that only renders the fragment(s) of the component you're interested in showing
3. Leverage `@raw_response_type` and `Query.commitLocalPayload` to commit a type safe version of whatever mock

[2021-04-01 10:39] zth opened #174 "[RFC] PPX-less/pure mode"
There's interest in having a "pure" mode for RescriptReact (cc @webican), which avoids the use of PPX, and avoids automatic runtime conversion. This issue serves as a place to discuss how we could make that happen. It'd be purely additive, meaning you could opt in to it.

Important to note is that the "preferred"/"official" way would still be to use the PPX, since one of the important corner stone

[2021-04-01 12:20] webican commented on #174
This is awesome! Thank you @zth!

Now, a couple of observations:

## Goals
With the release of 9.0 Rescript is now openly following a "zero-cost" philosophy [https://rescript-lang.org/blog/release-9-0](https://rescript-lang.org/blog/release-9-0) and [https://github.com/bobzhang/zero-cost-rescript](https://github.com/bobzhang/zero-cost-rescript) which seems to sum up the goal of what we are trying

[2021-04-02 07:15] zth commented on #174
Quick answer, but my initial hunch is that the mode should get rid of the PPX all together. The downside is obviously that you'll need to understand that a separate module is generated by the compiler. That might be annoying at first, but it is an integral part of how RescriptRelay works (and you'll be exposed to that anyway), so I think the benefits might outweigh the costs. It also helps to redu

[2021-04-02 15:38] zth commented on #170
Fixed in https://github.com/zth/rescript-relay/commit/6ce45d1d909fd89bee6cf0b30d5acdd90a06cc87

[2021-04-02 15:38] #170 closed

[2021-04-06 18:50] zth opened #175 "Update LOCAL_DEVELOPMENT.md"
Things have changed a bit. Update the local development readme.

[2021-04-10 09:02] zth opened #178 "Publish canary versions to npm"
It'd be really cool to publish canary versions for each main commit to npm. Prior art here: https://github.com/Astrocoders/lenses-ppx/blob/master/.github/workflows/pipeline.yml

It's a bit less convenient in RescriptRelay as we build two separate binaries for each arch we support, but still doable.

[2021-04-14 14:33] dan003400 opened #179 "Silence Warning 33 for generated files"
Warning number 33
[code]

```unused open Types.```

[2021-04-16 19:36] zth commented on #179
Fixed in https://github.com/zth/rescript-relay/commit/eeed76c4e576789c2d110b80d50465aec2971473

[2021-04-16 19:36] #179 closed

[2021-04-16 19:37] #46 closed

[2021-04-28 10:33] mellson opened #186 "How should null be mapped?"
Since null is a part of graphql it would be good with a nice way to express this in the ReScript code. This ticket is a place for discussing ideas on how to solve it

[2021-04-29 06:33] zth commented on #186
Just adding some context - what we're primarily talking about is _null as input_. Null in itself is currently automatically converted to `undefined` by RescriptRelay, so it can map cleanly to ReScript's `option` type. But, this conversion is problematic in the odd cases where you need to actually send `null` to the server as an input.

[2021-05-03 13:49] believer opened #187 "Multiple fragmentRefs in generated mutation code"
I've got a mutation that looks something like:

[code]

However, each fragment generates a `fragmentRefs` argument:

[code]

Is it not possible to use fragments in the mutation response or am I doing something wrong? 😄

[2021-05-03 14:11] zth commented on #187
@believer oh, great catch! 😄 That just looks like an oversight, your approach should be totally fine and is valid. Those generated make functions are a bit hairy in these circumstances, but it should definitively be possible to do what you're doing. Likely a pretty easy fix, let me look in to it as soon as I can.

[2021-05-03 14:35] zth commented on #187
@believer As a temporary workaround, if you're just after including the fragment data in what gets resolved from the server (and not actually access that data as a fragment from the mutation response), you can add `@raw_response_type` to the mutation. That'll make Relay flatten the types generated, removing the fragment refs (and by that this particular issue).

[2021-05-03 15:55] believer commented on #187
Great suggestion and nice that I'm doing everything correctly! I tried adding `@raw_response_type`, but I'm still seeing the same error 🤔 I haven't used it before, but I would use it like below from what I can tell? The Relay compiler seems happy with it as well.

[code]

[2021-05-03 16:15] zth commented on #187
@believer hm, ok, that's a bit weird! What's the error exactly?

[2021-05-03 16:31] believer commented on #187
Yeah, I don't know 😅 Here's the error from the ReScript compiler:

[code]

[2021-05-03 16:32] zth commented on #187
@believer that particular error should be fixed here: https://github.com/zth/rescript-relay/commit/a12afdb3f29133c9d7224a4c254eb81aec537427

Let me put out a release tonight and we'll see if it does the trick. I'll keep this open until we've verified. Thanks for finding this 😄 👍

[2021-05-03 16:47] believer commented on #187
Oooh, that's awesome! I'll try it immediately once it's been released.

No, thank you for the great and super fast help! 😄

[2021-05-03 16:52] zth commented on #187
@believer released in `0.19.0` - let me know how it works!

[2021-05-03 18:04] believer commented on #187
@zth it worked like a charm! Thanks again! 😄

[2021-05-03 19:15] zth commented on #187
Excellent!

[2021-05-03 19:15] #187 closed

[2021-05-04 11:24] tsnobip opened #189 "getConnectionNodes is not generated when aliasing the connection name"
let's say I have this fragment:
[code]
This would generate in `TemplateModal_graphql.res`:
[code]

But if I alias the field:
[code]
Then `getConnectionNodes` no longer gets generated in `TemplateModal_graphql.res`:
[code]

[2021-05-04 11:47] tsnobip commented on #189
probably related to this:
https://github.com/zth/rescript-relay/blob/master/packages/rescript-relay/language-plugin/src/transformer/transformerUtils.ts#L89
Likely just a matter of changing:
[code]
to:
[code]

[2021-05-09 09:20] zth opened #201 "[RFC] useLazy for fragments"
Inspired by [this issue](https://github.com/facebook/relay/issues/3486) talking about a potential lazy version of `useFragment`, we could implement the solution that Joe Savona is describing today in RescriptRelay. It could look something like this:

[code]

This would be transformed to a `useLazyLoadQuery` targeting the refetch query generated for `SomeFragment_user`, but doing the plumbing/wirin

[2021-05-09 12:36] zth commented on #189
Fixed in https://github.com/zth/rescript-relay/commit/de61689370f2fcca7d6002e79022e4c9a2bc84ce.

[2021-05-09 12:36] #189 closed

[2021-05-10 15:37] zth commented on #201
Basic implementation here (with the most relevant parts highlighted): https://github.com/zth/rescript-relay/pull/202/files#diff-3b92c8c1ba478cf1946f6fd14b06517bbc48181f615ac6503860aec813511183R1-R20

[2021-05-10 15:45] mellson commented on #201
This is awesome 👏 Great work @zth

[2021-05-10 15:50] zth commented on #201
Thank you @mellson !

[2021-05-12 06:58] jeong-sik opened #205 "The code generated by ppx violates the rules of hooks."
When to use eslint rules-of-hooks

`React Hook "Hooks.useLazyLoadQuery" is called in function "use$1" that is neither a React function component nor a custom React Hook function. React component names must start with an uppercase letter`

I know it's not an important issue. However, it would be nice to have a setting that puts a prefix in the function that starts with `use`.

[2021-05-13 10:21] zth commented on #205
I think this is the eslint rule not accounting for the $ sign in the variable name, right? Anyway, thanks for posting this, but unfortunately this is out of RescriptRelay's control. The PPX does in fact generate function names that are valid, but what you see is what the ReScript compiler ends up compiling the name to. And we unfortunately have little control over that.

I'd recommend turning off

[2021-05-14 17:58] mellson opened #206 "refetchable fragments require an argument definition"
Currently rescript-relay requires an argument definition for refetchable fragments to work.

This fragment throws an error:
[code]

while this doesn't:
[code]

[2021-05-14 18:42] zth commented on #206
Thank you for the report! I have a fairly solid idea of what the problem is, and I'll look into it 👍

[2021-05-15 08:49] zth commented on #206
Tracking fix here: https://github.com/zth/rescript-relay/pull/208

[2021-05-15 09:55] #206 closed

[2021-05-15 09:56] zth commented on #201
I think this is a nice addition, but I want to hide it behind an experimental flag before I merge this. Figuring out the best way to do that now.

[2021-05-15 09:59] zth opened #209 "Remove dependency on reason-promise"
This was a bad idea to depend on from the beginning (my mistake!), and since it's only used in very few places, we should go ahead and just remove it. It's a breaking change though sadly, but it's for the greater good.

[2021-05-15 11:36] zth commented on #209
Will wait for [this](https://forum.rescript-lang.org/t/rfc-new-promise-binding/963/42) to land before proceeding here.

[2021-05-15 17:51] zth commented on #178
I think I finally got this working.

[2021-05-15 17:51] #178 closed

[2021-05-15 18:28] mellson commented on #178
Thanks, this really helped me out today!

[2021-05-16 20:25] zth opened #211 "[fixed] Broken on Linux"
Something went wrong with the latest release and Linux. Working on a solution.

[2021-05-17 07:37] zth commented on #211
Fixed in https://github.com/zth/rescript-relay/commit/7cc1870045cd2e8d74b8841f40e0baa364e63e9b

[2021-05-17 08:16] zth commented on #211
Repoening for visibility.

[2021-05-20 06:14] #211 closed

[2021-05-20 11:53] zth commented on #205
I'll go ahead and close this one since it's from my understanding out of our control.

[2021-05-20 11:53] #205 closed

[2021-05-29 19:22] zth opened #217 "[RFC] Experimental suspense+cm router"
As detailed here: https://rescript-relay-documentation.vercel.app/docs/experimental-router

Please add any thoughts, comments or feedback about the router to this issue.

[2021-05-31 16:53] mellson commented on #217
Should `renderPending` be rewritten to only be used when it's pending. Right now it's used something like this:
[code]

Is it a normal usecase to render an element when pending is false?

I think it would be simpler like this:
[code]

[2021-05-31 17:43] zth commented on #217
@mellson yeah, that's a good point! The reason it's designed the way it is is to make it easy to do enter/exit animations on the indicator (keeping one element rendered so you can do regular CSS transitions etc). But it's definitively worth considering!

[2021-05-31 17:43] mellson commented on #217
Is it necessary to split up `matchUrl` and `render` ?
If everything was handled in render we wouldn't need our own types for routeparams.

[2021-05-31 17:58] mellson commented on #217
@zth that makes sense. I think keep it as it is. I was just a little confused because the bool wasn't used in the current docs. I tried to make it more explicit in the PR on the docs.

[2021-05-31 18:23] zth commented on #217
Yes, the rationale for splitting in 3 steps is that each step is needed, in the sense that:
1. We need to be able to check whether a route family matches, without necessarily doing anything.
2. We need to be able to call `prepare` independently of `render`, to be able to preload a route and its dependencies without necessarily rendering it. At a later stage, this will also be key for SSR - we'll h

[2021-05-31 20:35] mellson commented on #217
Should the router maybe provide a wrapper around the RescriptReactRouter methods for push and others? It's a bit confusing using two things with so similar names 😆

It would be nice to be able to do one or both of these:

1. RescriptRelayRouter.push(url)
2. router.push(url) (after importing it `let router = RescriptRelayRouter.use()`

[2021-06-01 05:38] zth commented on #217
Yes, that's a great idea! We should definitely have that. Let me set that up and update the gists. Actually, I'll move the code into the repo (but not expose it in the package for now).

Is there anything else around convenience you've thought of there?

[2021-06-01 06:07] mellson commented on #217
@zth that sounds great. I don't have any more inconveniences right now. I think it's a great product you're building! I've played around with preloading data and code, and everything works smoothly. It's so nice, a huge upgrade when using Relay.

[2021-06-02 10:33] mellson opened #220 "fetchKey ignored when preloading queries"
When trying to preload data using the [description here](https://rescript-relay-documentation.vercel.app/docs/experimental-router#preloading-data-with-the-router) I'm having some problems setting a fetchKey, it seems to be ignored:

[code]

When I look at the query printed to the console the fetchKey is ignoring my value, and also for me it's always a number but the type in load is string. So not

[2021-06-02 12:47] mellson opened #221 "The router reloads on client side navigation without url changes"
To me, it seems like `RescriptRelayRouter` can cause rerenders of the route when the url is updated, even though the route data doesn't change.

Example:
I have a url `/locations/stockholm` which has matched to these routeParams: `Some(City(string))`
This is being rendered to a city component:
[code]

If I now do a client side transition to `/locations/stockholm?venue=debaser` then it'll match to

[2021-06-05 09:46] zth commented on #220
After looking into this, the bindings actually seem right from my perspective. This is what the generated code looks like:
[code]

Could you check again and re-open if it really doesn't work?

[2021-06-05 09:46] #220 closed

[2021-06-05 10:25] zth commented on #221
This is now changed to only re-rendering on path changes: https://github.com/zth/rescript-relay/commit/4ea7c1db999ec0bddd0896dbaf476b02384c9b64

[2021-06-05 10:25] #221 closed

[2021-06-06 10:41] zth commented on #217
The code now exists here: https://github.com/zth/rescript-relay/tree/master/packages/rescript-relay/src/experimental-router

It also has a `useRouter` hook now with shortcuts for navigating and preloading:

https://github.com/zth/rescript-relay/blob/master/packages/rescript-relay/src/experimental-router/RescriptRelayRouter.resi#L28-L36

[2021-06-07 19:51] zth commented on #217
I haven't thought about it too much yet, but ideally I would want to split up "static" stuff/actions and things like `useUrl` anyway, so it's easier to control re-renders. So, _maybe_ is the answer, I guess 😄

[2021-07-23 10:25] zth opened #234 "Emit @live/@dead annotations in generated types"
This will allow users to use `reanalyze` for dead code analysis, without the generated types and helpers cluttering up the results.

[2021-07-23 10:36] zth opened #235 "Move to React 18"
Now that API changes etc seem to settle and become stable, we should move to React 18. Gotta hold off until we know what `rescript-react` will do when though, in terms of bindings.

[2021-08-15 22:24] cometkim commented on #139
This comment is created from [issue tracker demo](https://github.com/cometkim/rescript-relay-issue-tracker) XD

[2021-08-16 06:41] zth commented on #235
Related PR: https://github.com/zth/rescript-relay/pull/243

[2021-08-20 18:39] cometkim commented on #209
I tried to use [ReScript-JS](https://github.com/bloodyowl/rescript-js), which is depending on [ReScirpt Promise](https://github.com/ryyppy/rescript-promise)

And ReScript Promise and Reason Promise both are use `Promise` module without namespace :sweat_smile:

[2021-08-22 16:29] zth commented on #175
Done in https://github.com/zth/rescript-relay/commit/4cd11d84b2ef0993729362de14badc2c7e9d54bb

[2021-08-22 16:29] #175 closed

[2021-09-10 16:11] zth opened #250 "Make sink functions uncurried"

[2021-09-10 16:23] zth opened #251 "Add dedicated RescriptRelay GithHub Action"
It'd be nice to have a dedicated GitHub Action that's easy to install and covers the most important aspects of RescriptRelay, like:

- Checking that the Relay compiler has run properly (no changed files after running the compiler)
- Runs the `remove-unused-fields` CLI in CI-mode, to ensure no unused fields make it into production

[2021-09-11 18:16] zth commented on #250
Closed in https://github.com/zth/rescript-relay/commit/0b42d8d2aef95d2ac3c2277e30fc3f3537ab2c9e

[2021-09-11 18:16] #250 closed

[2021-09-18 03:02] farukg opened #254 "with relay-compiler v12 generated files include a require statement with a wrong path"
i tried v12 of relay and had an error while bundling.
I think the original relay-compiler just outputs a slightly new format in which it requires a file. Since rescript-relay appends `_graphql` to the generated files it is currently an error:
![image](https://user-images.githubusercontent.com/1577842/133870145-d9a4ef2f-a430-4daa-bc2c-618c27066be8.png)
`correct import path would be OverviewFragment

[2021-09-18 09:44] zth commented on #254
Hey @farukg , thank you for the report!

RescriptRelay isn't yet upgraded to support Relay `12.0.0`, which is probably why it's failing. I'll have a deeper look at this once I get to upgrading the Relay version. Should be in a few weeks or so.

[2021-09-20 09:55] zth commented on #209
Update: Since the core team haven't shipped the new bindings yet, we'll revert from `rescript-promise` back to `Js.Promise` so people can use the new bindings if they want.

[2021-09-23 19:55] #209 closed

[2021-10-04 16:43] #235 closed

[2021-10-04 16:43] #254 closed

[2021-11-23 19:07] mellson opened #267 "Discord invite link"
Hi @zth the Discord invite link on the docs page is an invite to the docusaurus server. I don't think I can create an invite link that lasts longer than 7 days? That's why I'm creating this as an issue over a PR 😊

[2021-11-24 06:56] zth commented on #267
Hmmm, are you sure? For me it leads to the correct server, but I'm already on that server too so maybe that helps.

[2021-11-24 11:05] mellson commented on #267
Not 100% sure as I haven't built a docusaurus site myself but shouldn't the discord link in [the config file](https://github.com/zth/rescript-relay/blob/master/rescript-relay-documentation/docusaurus.config.js) point to the RescriptRelay discord in stead of the docusaurus one?

[2021-11-24 13:55] zth commented on #267
Oh sorry, you mean _that_ link! 😄  Of course, great catch! I'll fix that.

[2021-12-07 13:16] tsnobip opened #269 "Refetch with a variable set to absent/null"
I've already told you about this, I'm creating this issue just as a reminder to work on a PR to fix it at some point ^^

I found something that is likely a bug in `makeRefetchableVariables`,  it unwraps optional values
let's say you have an `endDate: option<Js.Date.t>`  field, you'd expect `makeRefetchableVariables` to have `~endDate: option<Js.Date.t>=?` but it has `~endDate: Js.Date.t=?` instead

[2021-12-10 18:56] shinzui commented on #36
What happened to the `pollen-tracker` repo?

[2021-12-13 19:48] #267 closed

[2021-12-13 19:48] zth commented on #174
Closing this. Can re-open when there's time/more interest in something like this, but as of now this is unlikely to be prioritized anytime soon.

[2021-12-13 19:48] #174 closed

[2021-12-23 13:25] zth opened #270 "[rust compiler] Handle the @required directive"
This mostly works already, but @required means that the fragment itself can bubble to become nullable, which we'll need to handle.

[2021-12-27 13:50] zth opened #274 "Prepare for 1.0.0 beta"
* [x] Finish and merge the new Rust compiler
* [x] Fix documentation for 1.0.0
* [ ] Add issues for all unimplemented Relay features in the compiler that we eventually want to support

[2021-12-29 12:49] #270 closed

[2022-01-03 10:30] zth opened #275 "[feature] Support @updatable and @assignable"
Explore supporting @updatable and @assignable, which are new directives in development in Relay for easier local store updates in a type safe way.

[2022-01-03 10:31] zth opened #276 "[feature] Ensure @preloadable is fully supported"
This is a new directive in the Rust compiler that allows delaying loading the Relay normalization AST, meaning smaller bundle sizes.  Explore how that can be supported.

[2022-01-03 10:58] zth commented on #276
I'd like [this](https://github.com/facebook/relay/pull/3666), or a variant of it, to land first before working on this.

[2022-01-03 20:45] #274 closed

[2022-01-04 17:04] zth commented on #234
Closing this in favor of separate tickets.

[2022-01-04 17:04] #234 closed

[2022-01-05 06:00] mattdamon108 opened #277 "enum type for which ppx generate a types"
Hi,

I got generated types for the enum type of the graphQL schema.

[code]

It totally makes sense to me that the `enum_Weight` type from the query, the polymorphic variant has the lower bound and `weightInput` type for the input argument of mutation has no bounds. But there's a little inconvenience with type conflict between them such as the below use case.

[code]

Using a simple convert functi

[2022-01-05 09:20] zth commented on #277
So this is a pretty interesting issue, that doesn't have a clear solution that's without trade offs. In short there's _currently_ no better way of doing what you're doing (and yes, it's annoying to have to write that yourself). Why it functions the way it does as of now is because you must map the enum yourself in order to be completely sure you're sending what you think you're sending, since the

[2022-01-05 12:09] mattdamon108 commented on #277
Thank you for your explanation and consideration. I'd like to change our point of view a little bit. What if we change the type for enum type of Query without the lower bound which is same to the type for the mutation input.

[code]

What would the trade-offs be? I think it could be more sound in type level in the sense that we specify the same type(without lower bound) for the same enum type of g

[2022-01-05 17:00] zth opened #278 "[feature] Make outputting "object makers" configurable"
These are always output now, but we should make them configurable, since not everyone will use them. Something like:
[code]

[2022-01-05 17:02] zth opened #279 "[feature] Figure out a way to share definitions for input objects"
Definitions and conversion instructions should be shared for input objects if possible. This likely means outputting them in separate files for each input object.

The reason for wanting to share them is that a ton of bundle bloat is generated if you have many interconnected input objects (like for example Hasura does), and only some of it is tree shakeable. So, either make sure they end up in sep

[2022-01-05 17:03] zth commented on #201
This was a cool experiment, but I'm closing this for now. If there's interest for something like this, please feel free to ping me and we can reconsider.

[2022-01-05 17:03] #201 closed

[2022-01-05 19:18] zth opened #280 "Get rid off explicit nullability in conversion instructions"
Nobody but me cares about this one anyway, so I won't say what I mean...

[2022-01-05 21:16] zth commented on #280
Fixed in https://github.com/zth/rescript-relay/commit/05806bb7c6dbc065a8832687196e80afc17829fa

[2022-01-05 21:16] #280 closed

[2022-01-05 21:41] zth commented on #277
The trade off for not having the lower bound is that that won't force you to deal with the fact that the enum might change after you've deployed your code. Having the lower bound (and `private`) means you're forced to always account for unmatched cases, which will ensure you write your code in a way that is resilient to changes on the server. I've detailed it a bit more [here](https://rescript-rel

[2022-01-05 23:38] mattdamon108 commented on #277
I got your point more precisely now. Thank you for your kind explanation. I think it is quite an interesting and important issue to discuss. Let me summarize our issue.

* The polymorphic variant with lower bound will enforce users to handle the unmatched response for enum type. It will prevent the weird bug in the client application caused by server response changed after the client application h

[2022-01-06 01:44] mattdamon108 commented on #277
Actually, this issue is also discussed in my team. I found additional interesting points to share with you.

* `FutureAddedValue` in [graphql-ppx](https://graphql-ppx.com/docs/future-added-values/), it is aligned to your opinion. I think the graphql-ppx has two options such as an additional option to turn on/off, directive `@ppxOmitFutureValue`.
* Unfortunately, I can not find the related specific

[2022-01-07 12:12] zth commented on #277
I don't seem to be making my point clear enough 🙂 This isn't about nullability, and it's not something I've made up myself. It's about the fact that in GraphQL, while not governed by the spec, changes to enums and unions aren't considered breaking schema changes. So, this is the ReScript take on what Relay does automatically with `%future added value`. There's some more context you can [read up on

[2022-01-08 17:49] zth commented on #277
Closing this as `1.0.0-beta.5` is out now with better enum utils, and the new docs are published as well. Feel free to reopen or open a new issue if there's still questions around how this works.

[2022-01-08 17:49] #277 closed

[2022-01-09 09:37] mattdamon108 commented on #277
I got your point exactly. It does make sense that the client application can handle the future added value of enum type as the server evolves and enum might be changed later.

But I still think it is a bit harmful to specify two different nominal types for one enum type. I'm still trying to find the related spec in the GraphQL doc and Relay doc, but no gains. I don't know why Relay generates the t

[2022-01-10 21:43] mellson opened #281 "enum input has wrong type"
Playing with the [new awesome enum features](https://rescript-relay-documentation.vercel.app/docs/enums#dealing-with-the-unsafety-of-enums-from-the-server) I discovered that my input enums was getting the wrong type in the generated code:

![image](https://user-images.githubusercontent.com/167574/148843875-88d2dff0-7808-40d0-af05-ce652f6f37f2.png)

[2022-01-11 07:46] zth commented on #281
I accidentally broke this when fixing the other enum things. Will fix soon and publish a new beta!

[2022-01-11 18:45] zth commented on #281
Closed in https://github.com/zth/rescript-relay/commit/3326ce213fe46677e6a4b681f58881255e9758ad that's out in 15mins or so.

[2022-01-11 18:45] #281 closed

[2022-01-18 03:36] jeong-sik opened #287 "variablesConverter is not working correctly."
![image](https://user-images.githubusercontent.com/45959991/149865929-9fe65707-493e-46cd-95e0-023abdf3eab7.png)
The expected value is

searchInput: {
  pesticideIds: [3518],
  take: 1,
  skip: 0
}

It probably goes through the`utils.traverser` function and the value is wrong.

[2022-01-18 03:50] jeong-sik commented on #287
└─ rescript-relay@1.0.0-beta.7

[2022-01-18 08:58] zth commented on #287
Thank you for the report! What does your Relay config look like, do you have any custom scalars defined?

[2022-01-18 09:31] jeong-sik commented on #287
Here! Thank you!
[code]

[code]

[2022-01-18 09:52] zth commented on #287
Thank you! Could you also paste the full `variablesConverter`, the variables definition of the mutation you're doing (`mutation Blabla(<this stuff>) {`), as well as any other input object from the schema that appears in there?

[2022-01-18 11:21] jeong-sik commented on #287
All the query code looks like this:

[code]

[code]

[2022-01-18 12:23] zth commented on #287
Thank you! I found the issue, new beta with the fix coming tonight. Thanks for helping me track this down, this was a nasty little bug in my Rust rewrite that I've been chasing for a good while now.

[2022-01-18 13:53] mattdamon108 commented on #287
Can I ask what you mean `Rust rewrite`?

[2022-01-18 14:45] zth commented on #287
Of course! It's detailed in this blog post here: https://rescript-relay-documentation.vercel.app/blog/2021/01/03/rescript-relay-1.0.0-beta

But basically, for `1.0.0`, the entire type generation has been rewritten from scratch, from a combination of TS/ReasonML to Rust. It has also been integrated fully into a forked version of the new Relay compiler (which is written in Rust, therefore the typege

[2022-01-18 14:54] mattdamon108 commented on #287
Super interesting. I have some question about it. Currently rescript-relay-ppx works as ppx in rescript codes. Can you explain how to bridge between the rescript ppx in rescript code and type writter which is written in Rust.

In my guess, does your new type writter is parsing the graphql schema and write rescript type files directly not through ppx?

[2022-01-18 15:00] zth commented on #287
Exactly! So `rescript-relay` has never actually emitted any types via PPX, like `graphql-ppx` does. The Relay compiler produces types in actual generated files, and what I've built into the Relay compiler is the ability to emit ReScript types and assets, where as the core compiler only supports Flow and TypeScript by default.

The PPX really only does two, fairly minor things (but very crucial to

[2022-01-18 15:08] zth commented on #287
1. You write a GraphQL definition in `%relay()`
2. The Relay compiler finds that, extracts the GraphQL, and emits a generated file with ReScript types and assets
3. The PPX, in a very simplified sense, replaces `%relay()` with  an alias to the generated file.

[2022-01-18 15:10] mattdamon108 commented on #287
It does totally make sense. I was curious about how to parse and generate types for the fragments, queries, and mutation written in recript codes without ppx. I got your point that ppx still will work for it.

So, the type writter in Rust will generate the basic and fundermental types on disk from the graphql schema file and ppx will generate types after parsing the fragments, queries, and mutatio

[2022-01-18 15:12] mattdamon108 commented on #287
Oh I misunderstood. It seems the ppx is only for making alias to link the types on disk written by Rust writter.

[2022-01-18 15:15] mattdamon108 commented on #287
I think it is very clever design! I’m very interesting to see how the rescript types will be generated in Rust code.

I’m looking forward to seeing your work soon!

[2022-01-18 17:36] zth commented on #287
@mattdamon108 Here's the Rust compiler fork including my changes: https://github.com/facebook/relay/compare/main...zth:rescript-relay

It's obviously pretty involved with the core workings of the Relay compiler. But, in a nutshell, the Relay compiler gives me an AST designed to print Flow/TS. I take that AST and piece it together into a representation that's what I need to print ReScript types and

[2022-01-18 17:39] mattdamon108 commented on #287
Super, indeed!
I’ll also look at it.

[2022-01-18 17:47] zth commented on #287
@jeong-sik this should be fixed in `1.0.0-beta.8` that was just released 🎉 Closing this for now.

[2022-01-18 17:47] #287 closed

[2022-02-02 05:04] zth opened #292 "Check second argument to mutation completions"
Make sure it's bound to the correct type.

[2022-02-03 08:24] mellson opened #293 "Provide the compiler output as diagnostics in VSCode"
Currently when you run into relay compilation errors you can't see why in VSCode. You can however run the `rescript-relay-compiler` manually in your project and get the compilers take on what's wrong.

It would be helpful to provide this output in VSCode when running the compiler using the `rescript-relay` extension.

What needs to be done:

- [ ] Parse the new compiler output
- [ ] Produce VSCode

[2022-02-04 05:46] zth opened #294 "[feature] Figure out how to support providedVariables"
"Provided variables" is a way of adding regular JS values as variable values in fragments. These values are resolved via JS files you specify, instead of needing to be added as an actual variable in the query, etc. In short, you can do:

[code]
...and Relay will call your function in `DevicePixelRatioProvider` to get the value for `devicePixelRatio` at runtime, and wire it up for you with the Grap

[2022-02-05 08:06] zth commented on #292
Yes, it is correct.

[2022-02-05 08:06] #292 closed

[2022-02-08 13:56] radion-chernyakov opened #296 "getConnectionNodes is not generated for Queries & non-refetchable Fragments"
Hello there!

Are there any reasons for generating `getConnectionNodes` helper for refetchable fragments only?
From my point of view, it would be nice to have it for both queries and regular fragments as well:
[code]

Right now, for queries case, I have to wrap everything in the query with refetchable fragment, and for the case of the fragment, I have to make the fragment be refetchable even if I

[2022-02-08 14:21] radion-chernyakov commented on #296
UPD: My bad, `rescript-relay` generates `getConnectionNodes` for fragments if `@connection` directive is presented in fragment, so only query case

[2022-02-08 17:53] zth commented on #276
Not everything needed for this has been open sourced yet. So we'll have to wait for that.

[2022-02-08 17:57] zth commented on #296
There's no particular reason this couldn't be implemented on queries as well, if I remember correctly. Probably quite easy to implement.

One related feature I've been pondering for a long time is generating accessors. Imagine:
[code]

I think this could be quite powerful, but would likely take some time to implement (and add quite a bit of complexity).

[2022-02-18 02:57] mattdamon108 opened #299 "type safety in multiple environments"
Hi, always appreciate your efforts and works!

I'm facing to have multiple environments which means multiple API endpoints. AFAIK, we can not have multiple schema files for relay config. Hence I'm gonna merge the multiple SDLs into a single schema file. At this point, I think we might have a runtime error, in case I write up the query, but if the closest relay context provider's environment doesn'

[2022-02-19 17:26] zth commented on #299
This is tricky, because multiple schemas/environments really isn't something Relay was designed for.

My boring answer is going to be "don't do it". Is there any way you could stitch together everything under a single API? Just a slim service that stitches the schemas and delegates the resolution.

This question comes up from time to time, but unfortunately there's simply no good answer to it.

[2022-02-20 01:35] mattdamon108 commented on #299
Making two APIs into a single one would be always the best solution. But, it has some circumstances not do make it. I came up with the idea to make `fetchQuery` in RelayEnv.res with `Promise.allSettled` to call both APIs and check the results from each API, then resolve the response. I didn't try it yet. This is the only workaround at this moment.

[2022-02-20 07:54] zth commented on #299
I think that could work, but again, this is probably going to be very painful to maintain down the road 😃

Here's an issue on the Relay tracker about the same thing: https://github.com/facebook/relay/issues/3153

Just to reiterate (I know I already said this, and I'm sure you have your reasons this cannot work for you) - If I was in the situation where I needed to query two separate APIs in the sa

[2022-02-25 07:52] zth commented on #299
@mattdamon108 I'm going to close this one for now since there's nothing to be done from the RescriptRelay side, but please feel free to add your comments to this issue about how this works out for you, so others in the same situation can benefit.

[2022-02-25 07:52] #299 closed

[2022-03-01 08:48] zth opened #306 "[feature] Support Relay Resolvers"
New experimental Relay feature for adding client side derived fields that can be resolved via actual functions. Figure out how to support it.

[2022-03-04 07:27] zth commented on #306
Documentation is here: https://relay.dev/docs/next/guides/relay-resolvers/

In short, you extend your schema client side with a new field, that you annotate with `@relayResolver(some config here)`. You then define a resolver that, via a fragment on a specific GraphQL type, takes fragment data and returns derived data. You can then select that field in your other fragments like any other field, and

[2022-03-04 08:49] zth commented on #306
Alternate API:

[code]

This would involve us encoding in  `rescript-relay` that any fragment with a name ending with `ResolverFragment` is a Relay resolver dedicated fragment. And with that, we can adjust the PPX to add `makeRelayResolver` instead of the regular fragment helpers.

I think I prefer this one over the first one.

[2022-03-04 09:07] zth opened #307 "Move all object makers to use `external` so they can be inlined"

[2022-03-04 09:08] zth commented on #278
Superseded by https://github.com/zth/rescript-relay/issues/307

[2022-03-04 09:08] #278 closed

[2022-03-14 17:48] vknez opened #308 "Build error on Vercel machine due to lower GLIBC version available"
Hi!

I encountered an error when running the latest beta of `rescript-relay` on Vercel. It has GLIBC version 2.26, but `rescript-relay-compiler` needs 2.28 or 2.29. It seems connected to #152.

Is there an easy way to compile it in a way so that it doesn’t need the exact GLIBC version?

Vercel build machines use the “Amazon Linux 2 image”, and I believe it wouldn’t be safe to try to upgrade GLIBC

[2022-03-15 10:54] zth commented on #308
Hi! Hmm, I think we'll need to port [this PR](https://github.com/facebook/relay/pull/3754) to the [Relay compiler fork](https://github.com/zth/relay/tree/rescript-relay). Luckily it doesn't look too hard.

Is this something you'd be willing to take a stab at? It'd basically be about applying the equivalent of that PR to our CI, and then handle detection of when that binary needs to be included.

[2022-03-15 11:01] vknez commented on #308
@zth I could try, but I'm not very skilled in that area. How would I test it?

[2022-03-15 12:15] zth commented on #308
Yeah thinking a bit more about it, maybe testing it for anyone but me is a bit cumbersome right now...

I don't think it should take too much time to get this going and test this, but I'm swamped at the moment. Will be at least a while before I have a chance to have a look at this unfortunately. Hang in there and I'll have a look as soon as I can!

[2022-03-15 13:22] vknez commented on #308
Thanks a lot @zth!

PS. `rescript-relay` is such a pleasure to use.

[2022-03-15 14:32] zth commented on #308
@vknez thank you very much, that makes me very happy you say that! 😄

[2022-03-15 15:45] zth commented on #308
@vknez can you give `rescript-relay@0.0.0-linux-musl-d5435e23` a quick try? I tried porting it really quickly.

[2022-03-15 18:40] #269 closed

[2022-03-15 19:11] zth commented on #186
Closing this as IIRC it turns out the spec says that null and not providing the variable at all should be interchangeable.

[2022-03-15 19:11] #186 closed

[2022-03-15 19:11] zth commented on #307
Fixed in https://github.com/zth/rescript-relay/commit/089d5b3466af315da7347a202f49ee2f9f779016

[2022-03-15 19:11] #307 closed

[2022-03-15 19:12] zth commented on #279
Not likely to work on this in the foreseeable future, so closing.

[2022-03-15 19:12] #279 closed

[2022-03-15 19:15] #36 closed

[2022-03-15 20:22] vknez commented on #308
Man, it works!!! 🎉

Thanks a million!

[2022-03-15 20:34] zth commented on #308
@vknez Yay, that's great! This will be in the next beta release.

[2022-03-15 20:34] #308 closed

[2022-03-16 11:48] hariroshan commented on #306
Does the version `1.0.0-beta.3` not support client-side schema?
[code]
I used `RescriptRelay.RecordProxy.setValueBool(~name="isRead", ~value=true, ())` to update value.
After updating to the above mentioned version it shows following error...
[code]
is there a way around it?

[2022-03-16 12:04] zth commented on #306
@hariroshan I think the config option changed to `schemaExtensions` for setting explicitly where schema extensions are located. Have a [look at this](https://github.com/facebook/relay/tree/main/packages/relay-compiler#configuration).

[2022-03-16 13:43] hariroshan commented on #306
@zth Thank you for the quick reply. Adding `schemaExtensions` to point to the `src` directory fixed the issue. 😄

[2022-03-17 05:13] mattdamon108 opened #311 "Query.node type generation"
I found the interesting expression regarding fragment and type generation in your awesome works.

Here is the part of SDL.
[code]
Query1
[code]
Query2
[code]

`Query1` generates each field of Notice are optional against `type Notice` in SDL. But `Query2` generates each field of Notice without option as per SDL. If I say `... on Notice` is the inline fragment, the inline fragment expression seems t

[2022-03-17 08:11] zth commented on #311
@mattdamon108 Hey! If I understand you correctly - yes, this is how Relay type generation works, although I don't believe it's documented anywhere (and they are looking to improve it at some point).

However, RescriptRelay has one special handling (that Relay does not have) that I'm not sure if I've documented anywhere - for the node interface specifically, we automatically "fold" the union into a

[2022-03-18 05:17] mattdamon108 commented on #311
@zth Thank you for explanation. I found the documentation from outside of the relay here. https://graphql.org/learn/queries/#inline-fragments It says,

Named fragments can also be used in the same way, since a named fragment always has a type attached.

As far as I understand,
* Inline fragment -> Each field is executed by each. It seems each field is merged as part of node.
* Named fragment -> Ea

[2022-03-18 07:22] zth opened #312 "Upgrade to React 18 rc.2"
Currently only React 18 rc.0 works. Should be fairly minor changes to upgrade it to rc.2.

As soon as React 18 lands we'll be able to stabilize this much more, so we don't have to make breaking changes between releases.

[2022-03-18 07:44] zth commented on #311
@mattdamon108 awesome, thanks for posting! Is it ok to close this issue?

[2022-03-18 19:59] zth commented on #306
I have this working in https://github.com/zth/rescript-relay/compare/relay-resolvers. Needs docs etc.

[2022-03-19 11:42] zth commented on #311
Closing, feel free to reopen if needed.

[2022-03-19 11:42] #311 closed

[2022-03-19 13:07] mattdamon108 commented on #311
Thanks!

[2022-03-19 19:47] zth opened #314 "[docs] Document Relay Resolvers, and client state overall"
Still an experimental feature, but is fully usable as of now.

[2022-03-19 19:47] zth commented on #306
Closed by https://github.com/zth/rescript-relay/commit/9ae0703ee185776c921d19799c36907320013a0b

[2022-03-19 19:47] #306 closed

[2022-03-25 00:29] reck753 opened #315 "Proposition for an improvement on how `interface` is handled"
Hi!

Not long ago, we moved from `rescript-apollo-client` to `rescript-relay` and we are loving it so much!
However, we miss how we worked with `interfaces`.

For sure you will know how it works here, in `rescript-relay`, but for the sake of how it works in `rescript-apollo-client`, I will write down both approaches.

Given:
[code]

In `rescript-relay` by trying to get only type specific fields, i

[2022-03-25 07:37] zth commented on #315
Hey, thanks for the question! This comes up from time to time, and I agree fully, I also don't like the current representation and would prefer the alternative you show.

However, these types are coming directly from the Relay compiler, so it's Relay itself that is a bit opinionated here in what types they output. This is an area the Relay team (and contributors) are working on improving (see for

[2022-03-25 08:39] reck753 commented on #315
Thanks for the quick reply!

I am glad to hear your opinion on this and I am grateful for the explanation! Looking forward these improvements from Relay team.

I will try to contribute to the docs about interfaces!

[2022-03-26 13:20] reck753 opened #321 "How to create an `optimisticResponse` for a mutation returning `union` type?"
Hi!

### Question setup

[code]

[code]

### Question

As you already know, `union` type is translated to `polymorphic variant` and hence the `optimisticResponse`, of a mutation returning `union` type, expects the same thing. However, by doing so:

[code]

we would get this error:

[code]
which completely makes sense since `NAME/VAL` object is how `polymorphic variant` is being translated to JS.

[2022-03-26 13:23] reck753 commented on #321
I just saw #316, so I don't know if this that I wrote was affected by that PR...

[2022-03-26 13:43] zth commented on #321
@reck753 haha, the timing! You are absolutely correct that this was indeed a bug that #316 fixed. The fix has been released in `beta.16`, so please try that, it should work just like you expect.

Sorry for the inconvenience!

[2022-03-26 13:45] reck753 commented on #321
The timing is incredible! My bad for not checking what was done in the meantime 😅

Thanks a lot! Will try it and let you know!

[2022-03-26 14:00] zth commented on #321
@reck753 yes please try it and let me know! It's embarrassing this bug has been sitting around for this long 😬

And thank you for posting good questions with great background info - my goal is for RescriptRelay to be as ergonomic as I can make it, so you're definitively encouraged to keep posting things like this any time you find something that feels hard/cumbersome/unclear. Thanks!

[2022-03-26 14:11] reck753 commented on #321
@zth I just tried it and it works like a charm! Thank you!

 It's not embarrassing at all. The thing you do for us is pretty hard, so we can't be mad if something is missing out, especially when you are quick to fix it!

It is easier for everyone to make precise and well explained issues, even if it takes some time doing so. So, definitely, if there is something to be asked, I will be descriptive!

[2022-03-26 14:11] #321 closed

[2022-03-29 20:23] zth commented on #312
Closed via supporting the officially released React 18 https://github.com/zth/rescript-relay/commit/6f2ce1fdc5913061e81d0545e901bfadac8f1edf

[2022-03-29 20:23] #312 closed

[2022-03-29 20:24] zth commented on #293
Closing in favor of https://github.com/zth/vscode-rescript-relay/issues/36 since the official Relay LSP is now more reasonable to work with and will be possible to use fairly easily.

[2022-03-29 20:24] #293 closed

[2022-04-04 16:33] jovanbaj opened #324 "Querying the `node` field for a single type of node is not type-safe"
Hello,
While using node resolver to fetch data, we have stumbled upon some strange behavior when fetching only one type.
Let’s say that we have a schema like this:

[code]

When we want to display a page for a `Person`, we can use the node interface to get a specific `Person`.

[code]

If we pass an id of a `House`, we will receive a node, but the app will crash when trying to use `person.name`. P

[2022-04-04 18:16] zth commented on #324
Good catch! This is a regression actually. Two things need to happen:
- We need to actually do the runtime `__typename` check. This is easy enough.
- We need to ensure that the top level node field optimization is only applied when the single selection is a concrete type, since the runtime check will break on interfaces.

It'll take me a little while to get this sorted because I need to change thi

[2022-04-05 06:28] jovanbaj commented on #324
Thank you for looking into it. We will go with that approach for now.

[2022-04-05 11:02] zth commented on #324
What version are you on btw?

[2022-04-05 12:04] jovanbaj commented on #324
We were on `1.0.0-beta.12 `when we noticed. We upgraded to `1.0.0-beta.18` and the issue was still there.

[2022-04-05 12:14] zth commented on #324
Great! I'm having trouble reproducing this, would you be up for opening a PR with a failing test? It should be fairly simple, I'll give you detailed instructions.

[2022-04-05 12:27] jovanbaj commented on #324
Of course.

[2022-04-05 13:03] zth commented on #324
Actually, before that - would you mind posting a bit more information on how to reproduce? In sum, I'd like the full definition of the query causing the issue, the relevant type definitions from the schema, and the full response from the server (so from the network).

[2022-04-05 14:37] Kingdutch opened #325 "[Docs] Fragment argument application is not explained"
Inspiration from https://graphql-ppx.com/docs/fragment#variables-within-fragments

https://rescript-relay-documentation.vercel.app/docs/refetching-and-loading-more-data#making-a-fragment-refetchable explains `@argumentDefinitions` but how to actually apply arguments is not explained in the docs.

[2022-04-05 14:38] jovanbaj commented on #324
I am not able to provide you with my schema, but I was able to make a reproducible demo using your example app. The problem actually occurs when you have a combination of fragment refs and fields from a particular type.

[code]

[2022-04-05 14:42] Kingdutch opened #326 "[Docs] Document how to create single-page pagination with Relay connections"
Infinite scroll-lists with usePagination are well explained but it does not allow for a way to show only a single page of results at a time which can sometimes be desirable.

https://rescript-relay-documentation.vercel.app/docs/pagination#two-types-of-pagination references https://relay.dev/docs/guided-tour/list-data/pagination which leads to https://relay.dev/docs/guided-tour/list-data/advanced-p

[2022-04-05 18:07] zth commented on #324
Thank you, that's great! I'm hoping I'll find time to look at this fairly soon.

[2022-04-05 19:42] zth commented on #324
@jovanbaj I'm unable to reproduce this in the example. You're essentially just rendering that component, and it blows up because of `ticket.subject`?

[2022-04-05 19:48] jovanbaj commented on #324
Yeah, but you need to put a valid node id instead of the `SITE_STATISTICS_ID`. I used an id of the `SiteStatistics` since it also implements node.

[2022-04-05 20:29] #324 closed

[2022-04-05 20:30] zth commented on #324
@jovanbaj Will be fixed in `beta.19`, which will be out in 20mins or so. Please give it a spin and let me know if it works.

[2022-04-06 08:27] jovanbaj commented on #324
That did the trick! 🎉
Thank you!!!

[2022-04-06 08:48] zth commented on #324
@jovanbaj awesome! Thank you for reporting and providing a reproduction!

[2022-04-14 19:11] zth opened #328 "Mark fragments as "ignore unused""
It can be a good idea sometimes to have fragments that are never actually used in the UI, but only included in mutations to DRY up shared data requirements. A rare reasonable case for DRY 😄

However, right now, if you have a fragment that is never used in the code itself (only in Relay), the "remove unused fields" CLI will react on all of the fields in that fragment being unused.

So, ideally, we'

[2022-04-15 07:57] hariroshan opened #329 "Error after upgrading to new version."
Hello,
    I have a mutation query and optimistic response like so,
[code]
[code]
Compiled Opt. Response looks like
[code]
Everything compiles fine. The server responds with the following
[code]
But in the console, It reports the following
[code]
Why is this happening. Can you help? Thanks

[2022-04-15 08:21] zth commented on #329
Hmmm, this is a bug that was fixed recently. What version are you on?

[2022-04-15 08:24] hariroshan commented on #329
@zth Thanks for the quick reply,
These are the versions
[code]
the compiled response
[code]

[2022-04-15 08:30] hariroshan commented on #329
I WORKED !!! 😆  Thanks 👍  🥳

[2022-04-15 08:31] #329 closed

[2022-04-15 08:33] hariroshan commented on #329
Is the VScode extension for the library updated? I still doesn't recognise `client.schema` where as relay compiler does.

[2022-04-15 10:24] hariroshan commented on #329
Can you update the docs in `https://rescript-relay-documentation.vercel.app/docs/getting-started`
`yarn add rescript-relay@1.0.0-beta.18 relay-runtime@13.2.0 react-relay@13.2.0`
to
`yarn add rescript-relay@1.0.0-beta.20 relay-runtime@13.2.0 react-relay@13.2.0`

[2022-04-15 10:57] zth commented on #329
@hariroshan very glad it worked! 😃 Yes, sorry for not deploying that yet! Will fix.. Thanks!

[2022-04-20 11:12] zth commented on #315
I'm closing this for now, but I'll make sure to ping you when the Relay team moves forward with underlying improvements on this. Thanks for the docs contributions, really great!

[2022-04-20 11:12] #315 closed

[2022-05-03 21:35] Emilios1995 opened #342 "[Feature] Support turning off safe enums"
When working with local schema extensions, it's often unnecessary to enforce safety measures (encoding/decoding) around enums.

The reason is that unless the objects are serialized and stored in some kind of local storage for later retrieval, the values should always be up to date and in sync with the local schema definition.

@zth proposed two features:
- A directive for turning off the safety me

[2022-05-05 10:10] reck753 opened #343 "`format-all-graphql` CLI command doesn't ignore commented code"
Hi! 👋

`rescript-relay-cli` is an awesome tool which helps a LOT!

However, we stumbled upon a strange behaviour with `format-all-graphql` command. I am not sure if this would apply to `format-single-graphql` as well. More details below.

### Query

For example, let's have this piece of code:
[code]

If we didn't compile this code before (and, with it, we didn't generate `BookQuery_graphql.res`),

[2022-05-05 11:55] zth commented on #343
Hey!

Good catch! Would you be up for taking a stab at this? Should be fairly straight forward. Essentially, the problem is that we extract the sources to format via a regexp, but we don't account for comments. That's done here:

https://github.com/zth/rescript-relay/blob/9a3cf37f80ec1529110321ad00543812fc377613/packages/rescript-relay-cli/cliUtils.ts#L25-L51

One solution would be to simple add a

[2022-05-05 12:11] zth commented on #343
Also - happy you like the CLI! 😄 I'm all ears if you have ideas for more useful things it could do.

[2022-05-05 12:14] reck753 commented on #343
Sure! I will give it a try!
I will try to do it this weekend.

Glad to hear it! If something comes to my mind, I will let you know!

[2022-05-08 06:42] #343 closed

[2022-05-08 11:47] zth commented on #342
Fixed in https://github.com/zth/rescript-relay/commit/27017e80775e078345299eeeff6cda0fd4644d31

[2022-05-08 11:47] #342 closed

[2022-05-08 11:47] zth commented on #328
Fixed in https://github.com/zth/rescript-relay/commit/27017e80775e078345299eeeff6cda0fd4644d31

[2022-05-08 11:47] #328 closed

[2022-05-09 16:21] zth opened #345 "[Docs] The big docs epic"
This issue is intended to track things we (desperately) need to add to the docs. Please feel free to comment on this issue, and I'll add to the list.

## How the top level `node` field works.
- It always checks the _cache_ (via `id`) first before going to the server. An example when this is useful is when you have a details page for a single instance of a type. Going via the cache first means Rela

[2022-05-17 10:31] mbirkegaard opened #348 "Distinguishing between nulls and undefindes in variables"
Currently nullable variables in mutations and queries become optional on the rescript-relay side.

Suppose there's mutation that looks something like
[code]
which edits some thing. According to [coerce argument values](http://spec.graphql.org/October2021/#CoerceArgumentValues()) in the graphql spec, there's a difference between executing
[code]
and

[code]

However, on the rescript-relay side the

[2022-05-17 11:11] mbirkegaard opened #349 "Sharing generated types across modules"
As it is now, the generated types are unique to each generated module, even when they correspond to the same type from the schema.

To illustrate, consider this (very contrived!) schema
[code]
When using these mutations in the frontend, separate modules are generated for each mutation, each with their own type definitions. It would look something like this for the `add` mutation
[code]
and similar

[2022-05-19 05:46] zth commented on #349
I definitively agree this is something we need to solve somehow. I'd say the issue primarily lies in the following:
- The Relay compiler has no concept of outputting files for single types. It's of course doable to implement, but one would have to weigh the cost/benefits wrt maintenance etc.
- Input objects in GraphQL can be (mutually) recursive, so _all_ of the type definitions will need to go in

[2022-05-19 05:50] zth commented on #348
My initial hunch for this is having something similar to this:

[code]

...which would make all variables in the operation modelled as `Js.Nullable.t` rather than `option`. It'd work for all operations, so queries as well.

Thoughts?

[2022-05-20 12:31] mbirkegaard commented on #348
I think that could work. It would have to be nullables all way down to cover our concrete use case, where the nullable fields are on a deeper type.

`Js.Nullable.t` could work, but `option<Js.Null.t>` is also worth considering.

If the generated type is something like (for some new schema, not the one above)
[code]

I think usage would be a bit more ergonomic, i.e.
[code]
compared to using `Js.Nul

[2022-05-20 12:43] mbirkegaard commented on #349
I'd like to understand this more. Could the ppx "somehow" generate the schema assets and then open the schema assets file in `MyComponentMyOperation_graphql.res`? As long as `MyComponentMyOperation_graphql.bs.js` isn't the relay compiler going to be okay? (Caveat... I have no idea what I'm talking about 😅)

Oh, right! I completely did not consider that.

I also think 1) sounds better. Re tree-shak

[2022-05-27 22:27] MoOx opened #352 "Environment isServer option is missing"
I was following https://reverecre.github.io/relay-nextjs/docs/page-api#getrelayserializedstate
and saw an [isServer option](https://github.com/facebook/relay/blob/70bf47751a61ad14798f6dea14fe59e2c8a90aa3/packages/relay-runtime/store/RelayModernEnvironment.js#L82) that seems missing in this bindings.

Am I correct?

[2022-05-28 06:10] MoOx commented on #352
Here is the patch I am currently using

[code]

[2022-05-28 10:53] #352 closed

[2022-05-28 20:39] MoOx opened #355 "[unable to install 1.0.0-beta.22] npm ERR! code EINVALIDTAGNAME"
This is incorrect and trigger an error with NPM:

[code]

I can't install latest version because of this error that has been introduced in https://github.com/zth/rescript-relay/pull/347/files#diff-acc14cfb5379f869ca5516467ad9f5d63a078f5a90f25cd83bd54e395f5957b1R57

I think it should be `>=` no `=>`.

[2022-05-29 16:39] #355 closed

[2022-05-30 23:45] MinsangKim-GreenLabs opened #363 "Legacy content in document(pagination)"
While I was reading the pagination document, I found [this](https://rescript-relay-documentation.vercel.app/docs/pagination#:~:text=Notice%20RescriptRelay.%7B...%7D%20%2D%20that%27s%20a%20hint%20to%20tell%20the%20compiler%20where%20to%20find%20the%20record%20we%27re%20using%2C%20which%20in%20turn%20is%20because%20the%20compiler%20cannot%20infer%20what%20record%20we%27re%20trying%20to%20destructure

[2022-05-31 06:21] zth commented on #363
Fixed in the recently merged PR. Thanks!

[2022-05-31 06:21] #363 closed

[2022-06-27 14:37] MoOx opened #370 "Rename .use to .useQuery (or ./^use[A-Z].*/)"
In short: having to call a function just named `use` doesn't strictly respect React [rules of hooks](https://reactjs.org/docs/hooks-rules.html).
The eslint plugin is yelling since it's testing using `/^use[A-Z0-9].*$/`.
I don't expect React team to change their `isHookName` method for rescript relay use case so first, I am trying to ask for a change here.
Is this something possible?

I like to run

[2022-06-29 20:18] zth commented on #370
Hey @MoOx! I would like to support this somehow, but I'm not really fond of changing the `.use` name. Maybe we could find a way to emit suppression comments in the output or similar instead?

[2022-06-29 20:37] zth commented on #370
You mean having both `use` and `useQuery`? I wouldn't want that because it'd be confusing that both were called the same thing.

However, this all happens in the PPX, so maybe one way is to add config to the PPX itself, so you can do something like `hookNames: full | shortened`, defaulting to `shortened` (which is what they are now). That config would be in `bsconfig` I guess.

[2022-06-29 22:36] MoOx commented on #370
Any way to allow a longer name is good to me.
I was thinking about the simpler approach to avoid to much code and maintenance but if you prefer a different road that works for me :)
Why do you want to keep this .use name very short by the way ?

[2022-06-30 06:47] zth commented on #370
It's a conscious decision that you should be able to rely on the hooks here being "define your Relay module, and then `use` it". Given how modules are defined, I think it'd be semantically redundant to have `Query.useQuery` etc, when you're already writing "Query".

Same goes for anything I do with hooks in ReScript but outside of Relay as well - since it's almost always coming from a module, `Mod

[2022-06-30 06:48] zth commented on #370
Also, full disclosure - I'm not likely to work on this anytime soon, but I'd be happy to review and/or help guide if you're interested in taking a stab at it.

[2022-07-01 02:28] cometkim commented on #370
I don't think this is related to rules of hooks, `use` is actually valid in that rule.

https://github.com/facebook/react/blob/main/packages/eslint-plugin-react-hooks/src/RulesOfHooks.js#L18-L20

However, I think `MyQuery.useMyQuery` instead `MyQuery.use` maybe helpful when the query module opened in the scope.

[2022-07-01 06:46] MoOx commented on #370
Not it’s not valid. A capital letter is required :)

[2022-07-06 10:53] zth opened #373 "Breaks on ReScript v10"
PPX fails with `Error: Attributes not allowed here` on `v10` of ReScript.

[2022-07-06 10:55] #373 closed

[2022-08-05 08:01] zth opened #378 "Refine __typename more if possible"
Might be too high cost to change this in the fork, since we'd need to change Relay's built in typegen, but I'd _really_ like to have `__typename` be actual string literals where possible, rather than just strings like now.

[2022-08-23 10:00] zth opened #379 "Explore generating type safe connection id makers"

[2022-08-26 06:22] zth commented on #349
This is going to receive some attention soon.

[2022-08-28 17:56] zth opened #380 "M1 support for the PPX"
I don't believe the PPX has native M1 support. We should fix that if not.

[2022-08-28 17:57] zth opened #381 "Windows support"
The PPX currently does not work on Windows. Need to fix that.

[2022-08-29 18:05] #349 closed

[2022-08-29 18:05] #379 closed

[2022-08-30 19:51] #381 closed

[2022-08-31 18:16] zth opened #385 "Investigate driving autocomplete of relevant ReScript stuff from GraphQL"
This might be fun.

[2022-09-01 08:05] zth opened #386 "Support arguments in Relay Resolvers"

[2022-09-01 11:48] #294 closed

[2022-09-08 14:37] MiryangJung opened #388 "Error occurs when passing null value to factor."
Null should be able to used though 😁

[code]

[2022-09-08 18:22] zth commented on #388
Thanks!

Closed in https://github.com/zth/rescript-relay/commit/0b34948f8494a79b135bf75a3ee737e4b3d1c95e

[2022-09-08 18:22] #388 closed

[2022-09-13 06:43] zth opened #389 "Clean up PPX"
* [ ] Reason -> OCaml
* [ ] Move most emitted type signatures to the central lib + use type parameters instead
* [ ] Move off of `ppxlib`

[2022-09-13 07:44] cometkim commented on #389
Just curious, what is the main reason for converting syntax?

[2022-09-15 16:41] tsnobip opened #390 "invalid types created in Connection ID makers"
since #382 was merged, Connection ID makers create arguments that cannot be typed.

For example:
[code]
gets translated to :
[code]
But `{"phoneNumber": {"includesInsensitive": callSearchTerm}}` and  `{"callId": {"includesInsensitive": callSearchTerm}}` don't have the same type so can't be in the same array.

Those arguments should be likely [be wrapped inside an unboxed variant](https://rescript-

[2022-09-16 07:43] zth commented on #390
Fixed in https://github.com/zth/rescript-relay/commit/b63bb5194b529c177d6da03d1401a0b56d12fc35

[2022-09-16 07:43] #390 closed

[2022-09-19 16:05] mattdamon108 opened #391 "Type error with latest `rescript-compiler#master`"
Hi, I think this issue is based on the unstable compiler version, but I want to have a clue to solve to proceed the tests with compiler and JSX v4 on my company project. My company projects are using heavily the relay with rescript-relay.
I found some error.
[code]
[code]
I think I can fix it as below
[code]
But, I face many build error from different places in my projects.

<img width="812" alt="

[2022-09-19 16:14] zth commented on #391
This is actually already fixed in https://github.com/zth/rescript-relay/commit/fbc78b86d57c155d87db33f3f784b695c4342c60 but not released yet. I'll make a rc.5 tonight with the fix.

[2022-09-19 16:25] mattdamon108 commented on #391
Lovely! Thank you! 👍

[2022-09-19 16:25] #391 closed

[2022-09-19 16:57] zth commented on #391
@mattdamon108 `1.0.0-rc.5` is out now.

[2022-09-19 23:42] mattdamon108 opened #392 "`makeConnectionId` function type"
I face a type error in generated `makeConnectionId` function with latest `1.0.0-rc.5`

[code]
I guess, `onlyBuyable` argument can't be a bool type with a default value `Js.null`. I've read the changelog, but let me know if I miss something.

[2022-09-20 05:42] zth commented on #392
Good catch! I'll fix this and put out a new test package you can try. Let me get back to you once I have done that.

[2022-09-20 06:46] zth commented on #392
@mattdamon108 can you try `0.0.0-connection-id-maker-fix-389056d3`?

[2022-09-20 06:49] mattdamon108 commented on #392
Can you explain how to install it? It doesn't seem the branch name.

[2022-09-20 06:51] zth commented on #392
Just setting the version in package.json to that should work, ie `"rescript-relay": "0.0.0-connection-id-maker-fix-389056d3"`

[2022-09-20 08:00] mattdamon108 commented on #392
It seems fixed! But I have another issue with the connection. My schema is like
[code]
`The value getConnectionNodes can't be found in UpdateProductOptionsAdminFragment_graphql` is thrown. I've read the doc https://rescript-relay-documentation.vercel.app/docs/mutations#updating-connections, but `makeConnectionId` function signature is different from the doc.

<img width="821" alt="image" src="http

[2022-09-20 11:02] zth commented on #392
Got it, I know what the problem is. Let me think a bit on how to solve it best.

[2022-09-20 14:12] zth commented on #392
@mattdamon108 could you paste the contents of that generated file? `UpdateProductOptionsAdminFragment_graphql`.

[2022-09-21 04:09] mattdamon108 commented on #392
Sorry, I'm late 😄

[code]

[2022-09-21 06:06] zth commented on #392
I'm having trouble reproducing this. 2 things:

1. Would you please try cleaning node_modules, rerun the Relay compiler etc, and see if it still happens?
2. If it still happens, would you be up for adding a test to this repo that reproduces the problem? I'll guide you.

[2022-09-21 08:16] mattdamon108 commented on #392
I think you can reproduce with https://github.com/green-labs/sinsunhi-frontend-mirror/tree/rescript-relay-test

[2022-09-21 08:19] mattdamon108 commented on #392
And I'll try to make and add a test to reproduce too!

[2022-09-21 08:29] mattdamon108 commented on #392
I followed the `LOCAL_DEVELOPMENT.md`. But I'm afraid I can go further. Can you guide the steps how to build and test.
I'm trying to run a test in `packages/rescript-relay`. Before that shouldn't I build the whole packages maybe?

[2022-09-21 09:05] zth commented on #392
Will have a look!

[2022-09-21 14:28] mattbeedle opened #393 "getConnectionNodes not generated if edges are inside an include directive"
I have a fragment that is loaded when a modal is opened. It broke in one of the v1 release candidates.

[code]

The rescript-relay compilation step still works but I get the following error in the bsb step, even if I cut out any code referencing getConnectionNodes:

[code]

[2022-09-21 14:31] zth commented on #393
Thanks for the report! Have you confirmed it's indeed the include directive that breaks it...? If you remove it, it works?

[2022-09-21 14:46] mattbeedle commented on #393
@zth yes I did try that, removing the include fixes it :)

[2022-09-21 17:57] zth commented on #393
@mattbeedle this is fixed in https://github.com/zth/rescript-relay/commit/0da491a9a7fbd0c7cc84ec1bc4df7adcecfa430c. Will put out a new release soon, just need to see if I can figure out another issue first. Thanks for reporting!

[2022-09-21 19:08] zth commented on #392
@mattdamon108 can you try `0.0.0-connection-id-maker-fix-24be613b`? Pretty sure that should fix it.

[2022-09-21 19:09] zth commented on #393
@mattbeedle could you try `0.0.0-connection-id-maker-fix-24be613b` and verify that works for you? You just add that version to package.json like `"rescript-relay": "0.0.0-connection-id-maker-fix-24be613b"`, and then clean and rebuild your project (including rerunning the Relay compiler).

[2022-09-21 23:51] mattbeedle commented on #393
@zth that's working now. Thanks for this project. It's really great.

[2022-09-22 06:33] zth commented on #393
@mattbeedle thank you! Hoping it'll get better over time too 😄 What are you building with it?

[2022-09-22 06:33] #393 closed

[2022-09-22 11:05] mattdamon108 commented on #392
@zth Perfect! It compiles fine. Thank you for your prompt fix!

[2022-09-22 11:05] #392 closed

[2022-10-12 08:11] MoOx opened #396 "ReScript 10 compat"
Currently according to package.json peer/devDeps, it's not compatible.
But is it ?
I am going to try to adjust locally & see... :)

[2022-10-12 09:47] zth commented on #396
Oh, it should be! I've tested it and fixed the issues I saw. Would you mind PR:ing the peer/devDeps...?

[2022-10-12 12:09] MoOx commented on #396
Done in #397 !

[2022-10-14 07:53] #396 closed

[2022-10-18 08:42] mattdamon108 opened #399 "Build error with the reserved keyword `private`"
I encountered the build error with the reserved keyword `private`, while I'm testing with GitHub graphQL API. Schema and generated files:

[code]
[code]
[code]

[2022-10-18 08:43] mattdamon108 commented on #399
I think we have to avoid generating a `private` field. Can you check?

[2022-10-18 08:49] zth commented on #399
@mattdamon108 good catch! `private` is indeed not in the list of reserved words, but it should be. An easy fix, will fix it soon.

Thanks!

[2022-10-18 10:24] zth commented on #399
Fixed in https://github.com/zth/rescript-relay/commit/1de3a4b6c8b226e7ef0ad7550f80f316cf012e19, will be in `1.0.2` that's on its way out.

[2022-10-18 10:24] #399 closed

[2022-10-19 01:51] mattdamon108 commented on #399
@zth I don't know the Rust, but it is great! Thanks!

[2022-10-26 17:53] zth commented on #370
@MoOx seems it's our lucky day 😆 The ESLint rule seems to allow `use` if you put it in an experimental mode, now that React is releasing their own `use` hook 😄 .

https://github.com/facebook/react/blob/main/packages/eslint-plugin-react-hooks/src/RulesOfHooks.js

Closing this optimistically as that's hopefully the solution.

[2022-10-26 17:53] #370 closed

[2022-11-06 13:43] zth opened #400 "@inline fragments on unions does not work"
Symptom: You have an `@inline` fragment on a union type, but you're never getting anything but `#UnselectedUnionMember` back. Example:
[code]

Cause: Automatic insertion of __typename selection seems to not work on @inline fragments on unions.

Current workaround: add the `__typename` selection yourself.

[code]

[2022-11-10 21:10] zth opened #402 "Add `ignoreDisposable` helper"
Add a dedicated function for ignoring disposables.

[2022-11-11 17:12] zth commented on #389
One is to simplify the setup as much as possible. Another is that I'm trying to get proficient in OCaml, and using it here would help with that.

[2022-11-12 18:48] zth opened #404 "Add (back) auto decode mode to enums"
Potentially, not sure.

[2022-11-17 19:15] ValdemarGr opened #407 "Array scalars are not well behaved."
Arrays don't behave well when used as the underlying type of a scalar.
If an array occurs as the backing type for a scalar, it's contents all become `0` even though the scalar's serializer is invoked.

A test that reproduces can be found here:
https://github.com/casehubdk/rescript-relay/blob/59e0a1f9a3b9bc42ba473fb15710c40bb9da4044/packages/rescript-relay/__tests__/Test_customScalars.res

We have

[2022-11-18 08:49] zth commented on #407
Thank you for the report! This part of the API is currently a bit buggy. cc @tsnobip who's working on correcting similar issues.

[2022-11-18 09:10] tsnobip commented on #407
yeah hopefully such behavior will soon be a thing of the past!

[2022-11-24 04:48] mattbeedle opened #408 "Experimental router polyvariant path params do not match"
Not sure if this is already a known issue since the experimental router is still not public, but I'm having problems with the polyvariant matching.

The following code generates the correct variants, but does not match any of the `/recipes/...` variant paths. It will always render the `Recipe` renderer.

[code]

However, if I define every route individually it will match fine:

[code]

I have anot

[2022-11-24 06:56] zth commented on #408
Interesting! This should definitely work, thanks for reporting.

Are you actively using the router, or just trying things out?

[2022-11-24 07:02] mattbeedle commented on #408
I just refactored a current production project to use it. This is the last thing I need to get working in order to release.

[2022-11-24 07:13] zth commented on #408
@mattbeedle let's get it sorted then! 😃 I'll invite you to the repo too since it's not public yet

[2022-11-24 10:00] mattbeedle commented on #408
Awesome, thx! I created an issue for it there along with a small sample app.

[2022-11-24 17:42] zth commented on #402
Fixed in https://github.com/zth/rescript-relay/commit/3276d77e4c89929f4cdc60673aa4f6e17f59c6b0

[2022-11-24 17:42] #402 closed

[2022-11-30 19:36] zth commented on #408
This has been fixed in the router.

[2022-11-30 19:36] #408 closed